# Libraries

In [12]:
import pandas as pd
import numpy as np
from functools import reduce
import pickle
import seaborn as sns
from sklearn.preprocessing import MultiLabelBinarizer

# Load Data

In [13]:
df = pd.read_pickle(r".\df_data\df.pkl")
df1 = pd.read_pickle(r".\df_data\df1.pkl")
df2 = pd.read_pickle(r".\df_data\df2.pkl")
df3 = pd.read_pickle(r".\df_data\df3.pkl")
df4 = pd.read_pickle(r".\df_data\df4.pkl")

In [14]:
dfis = [df1, df2, df3, df4]
iss = [1, 2, 3, 4]

# Pivots

## Functions

In [15]:
def fun_sparse_all(dfs, List):

    all_pivots = []

    for i, dfi in enumerate(dfs, start=1):
        if List == True:
            cols = [col for col in dfi.columns if '_List' in col or 'Study_Status_Bin' in col]
        else:
            cols = [col for col in dfi.columns if '_Bin' in col or '_Categ' in col]

        pivots = [] 

        for col in cols:
            pivot = dfi.pivot_table(
                index=col,
                columns="Study_Status_Bin",
                aggfunc="size",
                fill_value=0,
                observed=False
            ).reset_index()

            pivot['value'] = col + ' = ' + pivot[col].astype(str)
            pivot.drop(columns=[col], inplace=True)

            final_cols = ['value'] + [c for c in pivot.columns if c != 'value']
            pivot = pivot[final_cols]

            pivots.append(pivot)

        pivot_sparse = pd.concat(pivots, axis=0, ignore_index=True)

        pivot_sparse = pivot_sparse.rename(columns={
            "COMPLETED": f"df{i}_COMPLETED",
            "TERMINATED": f"df{i}_TERMINATED"
        })

        all_pivots.append(pivot_sparse)

    pivot_merged = reduce(lambda left, right: pd.merge(left, right, on="value", how="outer"), all_pivots) 
    # sos 'outer' because may not all df have the same levels in some variables.
    return pivot_merged

- Terminated sample is going to be left as is after train test split.
- Train set ois going to be even more reduced.

In [16]:
def fun_train_test(pivot_sparse):
    global numeric

    # Train set - test spit both Completed - Terminated samples will be altered
    pivot_sparse_train = pivot_sparse.copy()
    pivot_sparse_test = pivot_sparse.copy()
    numeric = pivot_sparse.select_dtypes(include = "number").columns
    # Train-Test Split Scenario that X_Train will be 0.9 of total sample. (See models file)
    # Train set - 0.9 of dataset
    pivot_sparse_train[numeric] = np.round(pivot_sparse_train[numeric]* 0.8, 0) # train size 
    # Test set - 0.1 of dataset - Sample alters stop here
    pivot_sparse_test[numeric] = np.round(pivot_sparse_test[numeric]* 0.2 , 0)
    return pivot_sparse_train, pivot_sparse_test

In [17]:
def fun_res_scenario(iss, pivot_sparse_train, pivot_sparse_test):
    xis = []
    for i in iss:    
        dfi_comp = pivot_sparse_train.loc[pivot_sparse_train['value'] == 'Study_Status_Bin = COMPLETED', f'df{i}_COMPLETED']
        dfi_term = pivot_sparse_train.loc[pivot_sparse_train['value'] == 'Study_Status_Bin = TERMINATED', f'df{i}_TERMINATED']

        # When Resample upcoming train set, it must be: (df1_comp/df1_term)*x = 1
        xi = 1/(dfi_comp.values/dfi_term.values)  # 0.25695 etc. 
        xis.append(xi)

    return xis

In [18]:
def fun_zeros(pivot_sparse_train, pivot_sparse_test, count):
    zero_train = pivot_sparse_train[((pivot_sparse_train[numeric] < count).any(axis=1)) &\
                                    (pivot_sparse_train['value'] != 'Study_Status_Bin = COMPLETED')&\
                                    (pivot_sparse_train['value'] != 'Study_Status_Bin = TERMINATED')]
    zero_test = pivot_sparse_test[((pivot_sparse_test[numeric] < count).any(axis=1)) &\
                                    (pivot_sparse_train['value'] != 'Study_Status_Bin = COMPLETED')&\
                                    (pivot_sparse_train['value'] != 'Study_Status_Bin = TERMINATED')]
    return zero_train, zero_test

## Categ

In [19]:
pivot_sparse = fun_sparse_all(dfis, False)
pivot_sparse

pivot_sparse_train, pivot_sparse_test = fun_train_test(pivot_sparse)
pivot_sparse_train
pivot_sparse_test

xis = fun_res_scenario(iss, pivot_sparse_train, pivot_sparse_test)
xis

pivot_sparse_train['df1_COMPLETED'] = np.round(pivot_sparse_train['df1_COMPLETED']*xis[0], 0)
pivot_sparse_train['df2_COMPLETED'] = np.round(pivot_sparse_train['df2_COMPLETED']*xis[1], 0)
pivot_sparse_train['df3_COMPLETED'] = np.round(pivot_sparse_train['df3_COMPLETED']*xis[2], 0)
pivot_sparse_train['df4_COMPLETED'] = np.round(pivot_sparse_train['df4_COMPLETED']*xis[3], 0)

zero_train, zero_test = fun_zeros(pivot_sparse_train, pivot_sparse_test, 10)

display(pivot_sparse_train)

Study_Status_Bin,value,df1_COMPLETED,df1_TERMINATED,df2_COMPLETED,df2_TERMINATED,df3_COMPLETED,df3_TERMINATED,df4_COMPLETED,df4_TERMINATED
0,Adverse_Bin = No,3045.0,2958.0,3449.0,3750.0,1253.0,1558.0,1386.0,1530.0
1,Adverse_Bin = Yes,777.0,865.0,2597.0,2296.0,1105.0,800.0,461.0,318.0
2,Adverse_System_Categ = 0–1,3095.0,3009.0,3608.0,3934.0,1305.0,1609.0,1482.0,1621.0
3,Adverse_System_Categ = 2–22,727.0,814.0,2438.0,2112.0,1053.0,749.0,365.0,226.0
4,Arm_Categ = 1–2,2404.0,2646.0,4303.0,4707.0,1802.0,1896.0,1518.0,1618.0
5,Arm_Categ = 3–32,NaN,NaN,NaN,NaN,556.0,462.0,329.0,230.0
6,Arm_Categ = 3–43,NaN,NaN,1743.0,1338.0,NaN,NaN,NaN,NaN
7,Arm_Categ = 3–44,1418.0,1177.0,NaN,NaN,NaN,NaN,NaN,NaN
8,City_Categ = 0–1,2803.0,2366.0,3289.0,3590.0,1067.0,1190.0,1447.0,1510.0
9,City_Categ = 2–1064,NaN,NaN,NaN,NaN,1291.0,1167.0,NaN,NaN
10,City_Categ = 2–282,1018.0,1456.0,NaN,NaN,NaN,NaN,NaN,NaN
11,City_Categ = 2–607,NaN,NaN,NaN,NaN,NaN,NaN,400.0,338.0
12,City_Categ = 2–667,NaN,NaN,2757.0,2456.0,NaN,NaN,NaN,NaN
13,Completion_Date_Year_Categ = 2011-2018,1853.0,1418.0,2764.0,2400.0,1206.0,1025.0,1022.0,909.0
14,Completion_Date_Year_Categ = 2019-2024,1969.0,2405.0,3282.0,3646.0,1152.0,1333.0,825.0,938.0
15,Completion_Gap_Categ = 0–14,2085.0,1310.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Completion_Gap_Categ = 0–21,NaN,NaN,NaN,NaN,NaN,NaN,955.0,942.0
17,Completion_Gap_Categ = 0–24,NaN,NaN,NaN,NaN,1222.0,1208.0,NaN,NaN
18,Completion_Gap_Categ = 0–26,NaN,NaN,3014.0,3370.0,NaN,NaN,NaN,NaN
19,Completion_Gap_Categ = 15–160,1736.0,2513.0,NaN,NaN,NaN,NaN,NaN,NaN
20,Completion_Gap_Categ = 22–149,NaN,NaN,NaN,NaN,NaN,NaN,892.0,906.0
21,Completion_Gap_Categ = 25–162,NaN,NaN,NaN,NaN,1136.0,1150.0,NaN,NaN
22,Completion_Gap_Categ = 27–163,NaN,NaN,3032.0,2676.0,NaN,NaN,NaN,NaN
23,Continent_Categ = 0–1,3589.0,3374.0,5275.0,5236.0,1803.0,1772.0,1783.0,1810.0
24,Continent_Categ = 2–6,233.0,448.0,771.0,810.0,555.0,586.0,64.0,37.0
25,Country_Categ = 0–1,3481.0,3225.0,4921.0,4962.0,1645.0,1652.0,1732.0,1777.0
26,Country_Categ = 2–33,340.0,598.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Country_Categ = 2–42,NaN,NaN,NaN,NaN,NaN,NaN,115.0,70.0
28,Country_Categ = 2–46,NaN,NaN,1125.0,1083.0,NaN,NaN,NaN,NaN
29,Country_Categ = 2–59,NaN,NaN,NaN,NaN,713.0,706.0,NaN,NaN
30,Covid_19_Bin = No,3765.0,3734.0,5876.0,5766.0,2292.0,2195.0,1829.0,1820.0
31,Covid_19_Bin = Yes,57.0,89.0,170.0,279.0,66.0,162.0,18.0,27.0
32,Enrollment_Categ = 0–158,NaN,NaN,NaN,NaN,1040.0,1822.0,NaN,NaN
33,Enrollment_Categ = 0–28,1723.0,3054.0,NaN,NaN,NaN,NaN,NaN,NaN
34,Enrollment_Categ = 0–41,NaN,NaN,2384.0,4906.0,NaN,NaN,NaN,NaN
35,Enrollment_Categ = 0–60,NaN,NaN,NaN,NaN,NaN,NaN,781.0,1599.0
36,Enrollment_Categ = 159–204438,NaN,NaN,NaN,NaN,1318.0,535.0,NaN,NaN
37,Enrollment_Categ = 29–8231,2099.0,769.0,NaN,NaN,NaN,NaN,NaN,NaN
38,Enrollment_Categ = 42–144539,NaN,NaN,3662.0,1140.0,NaN,NaN,NaN,NaN
39,Enrollment_Categ = 61–864493,NaN,NaN,NaN,NaN,NaN,NaN,1066.0,248.0
40,Funder_Industry_Bin = FUNDER_OTHER,1240.0,1766.0,3478.0,3554.0,1002.0,1107.0,1490.0,1546.0
41,Funder_Industry_Bin = INDUSTRY,2582.0,2056.0,2568.0,2491.0,1356.0,1250.0,357.0,301.0
42,Healthy_Bin = No,1728.0,3118.0,5196.0,5683.0,1990.0,2167.0,1392.0,1558.0
43,Healthy_Bin = Yes,2094.0,704.0,850.0,362.0,368.0,190.0,455.0,290.0
44,Intervention_Route_Categ = 1,3260.0,3100.0,4914.0,4770.0,1966.0,1953.0,1370.0,1399.0
45,Intervention_Route_Categ = 2–4,562.0,722.0,1132.0,1275.0,392.0,405.0,477.0,448.0
46,Intervention_Type_Categ = 1,3602.0,3350.0,5533.0,5271.0,2188.0,2170.0,1695.0,1674.0
47,Intervention_Type_Categ = 2–4,220.0,473.0,NaN,NaN,170.0,188.0,152.0,173.0
48,Intervention_Type_Categ = 2–5,NaN,NaN,513.0,774.0,NaN,NaN,NaN,NaN
49,Placebo_Bin = No,3005.0,3235.0,3922.0,4356.0,1473.0,1364.0,1397.0,1379.0
50,Placebo_Bin = Yes,817.0,587.0,2124.0,1690.0,885.0,994.0,450.0,468.0
51,Standard_Care_Bin = No,3757.0,3686.0,5792.0,5680.0,2256.0,2174.0,1774.0,1713.0
52,Standard_Care_Bin = Yes,65.0,137.0,254.0,366.0,102.0,184.0,72.0,134.0
53,Start_Date_Year_Categ = 2011-2018,2525.0,2279.0,4442.0,3745.0,1754.0,1523.0,1372.0,1300.0
54,Start_Date_Year_Categ = 2019-2024,1297.0,1543.0,1604.0,2301.0,604.0,834.0,475.0,547.0
55,Study_Status_Bin = COMPLETED,3822.0,0.0,6046.0,0.0,2358.0,0.0,1847.0,0.0
56,Study_Status_Bin = TERMINATED,0.0,3822.0,0.0,6046.0,0.0,2358.0,0.0,1847.0

## List

In [20]:
def fun_lists(dfi):
    for col in [c for c in dfi.columns if '_List' in c]:
        if dfi[col].apply(lambda x: isinstance(x, list)).any():
            mlb = MultiLabelBinarizer()
            dummies = pd.DataFrame(mlb.fit_transform(dfi[col]), 
                                   columns=[f"{col}_{cls}" for cls in mlb.classes_],
                                   index=dfi.index)
            dfi = pd.concat([dfi.drop(columns=[col]), dummies], axis=1)
    return dfi

df1 = fun_lists(df1)
df2 = fun_lists(df2)
df3 = fun_lists(df3)
df4 = fun_lists(df4)

# Combined Pivot
pivot_sparse_list = fun_sparse_all([df1, df2, df3, df4], True)

# display(pivot_sparse_list)
pivot_sparse_train_list, pivot_sparse_test_list = fun_train_test(pivot_sparse_list)
pivot_sparse_train_list

# xis = fun_res_scenario(iss, pivot_sparse_train_list, pivot_sparse_test_list) No need to rerun it. shapes same as above.

pivot_sparse_train_list['df1_COMPLETED'] = np.round(pivot_sparse_train_list['df1_COMPLETED']*xis[0], 0)
pivot_sparse_train_list['df2_COMPLETED'] = np.round(pivot_sparse_train_list['df2_COMPLETED']*xis[1], 0)
pivot_sparse_train_list['df3_COMPLETED'] = np.round(pivot_sparse_train_list['df3_COMPLETED']*xis[2], 0)
pivot_sparse_train_list['df4_COMPLETED'] = np.round(pivot_sparse_train_list['df4_COMPLETED']*xis[3], 0)

zero_train_list, zero_test_list = fun_zeros(pivot_sparse_train_list, pivot_sparse_test_list, 10)

display(pivot_sparse_train_list)

Study_Status_Bin,value,df1_COMPLETED,df1_TERMINATED,df2_COMPLETED,df2_TERMINATED,df3_COMPLETED,df3_TERMINATED,df4_COMPLETED,df4_TERMINATED
0,Adverse_List_Adv_Death = 0,3433.0,3264.0,4589.0,4637.0,1642.0,1842.0,1579.0,1659.0
1,Adverse_List_Adv_Death = 1,389.0,558.0,1457.0,1409.0,716.0,515.0,268.0,188.0
2,Adverse_List_Adv_None = 0,796.0,879.0,2648.0,2355.0,1125.0,823.0,512.0,370.0
3,Adverse_List_Adv_None = 1,3026.0,2943.0,3398.0,3690.0,1233.0,1534.0,1335.0,1477.0
4,Adverse_List_Adv_Serious = 0,3432.0,3169.0,4093.0,4327.0,1400.0,1702.0,1578.0,1691.0
...,...,...,...,...,...,...,...,...,...
171,Sex_List = ALL,3151.0,3418.0,5323.0,5409.0,2080.0,2094.0,1575.0,1603.0
172,Sex_List = FEMALE,164.0,201.0,474.0,398.0,206.0,196.0,214.0,204.0
173,Sex_List = MALE,506.0,204.0,250.0,239.0,72.0,68.0,58.0,40.0
174,Study_Status_Bin = COMPLETED,3822.0,0.0,6046.0,0.0,2358.0,0.0,1847.0,0.0
175,Study_Status_Bin = TERMINATED,0.0,3822.0,0.0,6046.0,0.0,2358.0,0.0,1847.0

In [21]:
display(zero_train, zero_test)

Empty DataFrame
Columns: [value, df1_COMPLETED, df1_TERMINATED, df2_COMPLETED, df2_TERMINATED, df3_COMPLETED, df3_TERMINATED, df4_COMPLETED, df4_TERMINATED]
Index: []

Study_Status_Bin,value,df1_COMPLETED,df1_TERMINATED,df2_COMPLETED,df2_TERMINATED,df3_COMPLETED,df3_TERMINATED,df4_COMPLETED,df4_TERMINATED
24,Continent_Categ = 2–6,275.0,112.0,554.0,202.0,638.0,146.0,76.0,9.0
31,Covid_19_Bin = Yes,67.0,22.0,122.0,70.0,76.0,41.0,21.0,7.0

# Zero Rows

In [22]:
display(zero_train_list, zero_test_list)

Study_Status_Bin,value,df1_COMPLETED,df1_TERMINATED,df2_COMPLETED,df2_TERMINATED,df3_COMPLETED,df3_TERMINATED,df4_COMPLETED,df4_TERMINATED
149,Intervention_Type_List_RADIATION = 1,46.0,128.0,119.0,211.0,13.0,30.0,2.0,6.0

Study_Status_Bin,value,df1_COMPLETED,df1_TERMINATED,df2_COMPLETED,df2_TERMINATED,df3_COMPLETED,df3_TERMINATED,df4_COMPLETED,df4_TERMINATED
13,Adverse_System_List_Adv_Syst_Death = 1,25.0,5.0,46.0,19.0,28.0,7.0,67.0,16.0
15,Adverse_System_List_Adv_Syst_Ear = 1,222.0,66.0,478.0,137.0,300.0,55.0,61.0,6.0
23,Adverse_System_List_Adv_Syst_Hepatobiliary = 1,182.0,63.0,518.0,143.0,509.0,77.0,78.0,8.0
25,Adverse_System_List_Adv_Syst_Immune System = 1,181.0,61.0,415.0,117.0,329.0,48.0,62.0,5.0
35,Adverse_System_List_Adv_Syst_Neoplasms = 1,200.0,74.0,563.0,151.0,613.0,81.0,96.0,7.0
53,"Adverse_System_List_Adv_Syst_Surgical, Medical...",62.0,12.0,203.0,39.0,190.0,27.0,59.0,7.0
80,"Conditions_Detail_List_Health Care, Therapeuti...",70.0,8.0,75.0,19.0,51.0,7.0,64.0,14.0
118,Intervention_Model_List = FACTORIAL,29.0,4.0,33.0,7.0,27.0,6.0,28.0,7.0
120,Intervention_Model_List = SEQUENTIAL,486.0,171.0,142.0,88.0,16.0,5.0,18.0,3.0
133,Intervention_Type_List_BEHAVIORAL = 1,60.0,7.0,108.0,17.0,56.0,6.0,40.0,8.0
139,Intervention_Type_List_DIETARY_SUPPLEMENT = 1,49.0,5.0,95.0,16.0,56.0,9.0,41.0,5.0
145,Intervention_Type_List_INTERV_UNSPES = 1,57.0,18.0,63.0,24.0,34.0,7.0,23.0,7.0
149,Intervention_Type_List_RADIATION = 1,54.0,32.0,85.0,53.0,15.0,7.0,3.0,1.0
165,Primary_Purpose_List = BASIC_SCIENCE,583.0,55.0,87.0,25.0,19.0,4.0,93.0,16.0
169,Primary_Purpose_List = SUPPORTIVE_CARE,38.0,9.0,85.0,28.0,54.0,11.0,83.0,18.0

# Merge Categories for sparse data. 
- Some categorie have been merged from Thesis_data file from whole dataset (df). 
- Those were obviously much less compared to dataset. 
- Here it has been done an example of levels, after a perfect scenario of even train-test split and a resample across featture samples. Thus, there is no randomness to include more or less data of a feature in completed vs terminated and in train vs test set. 
- This way the levels that are in extreme risk of sparsity are going to be merged to greater ones.