# Libraries

In [398]:
import pandas as pd
import numpy as np
import geonamescache 
from collections import Counter
from sklearn.preprocessing import MultiLabelBinarizer
import pickle
import re

# 1) Load Sql Tables

In [399]:
my_studies = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_studies.pkl")
my_terminations = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_terminations.pkl")  # not used 
my_terminations2 = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_terminations2.pkl")  # not used
my_conditions = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_conditions.pkl")  
my_covid = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_covid.pkl")  
my_placebo = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_placebo.pkl")  
my_interventions = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_interventions.pkl")  
my_interventions_types = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_interventions_types.pkl")  
my_soc = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_soc.pkl")  
my_intervention_methods2 = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_intervention_methods2.pkl")  
my_intervention_methods = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_intervention_methods.pkl")  
my_adverse = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_adverse.pkl")  
my_adverse_system = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_adverse_system.pkl")  
my_designs = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_designs.pkl")  
my_eligibilities = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_eligibilities.pkl")  
my_outcomes = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_outcomes.pkl")  
my_locations = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_locations.pkl")  
my_documents = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_documents.pkl")  
my_source = pd.read_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\my_source.pkl")

# 2) Load Data

### Load Data

In [400]:
df = pd.read_csv(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\ctg-studies.csv")
pd.set_option('display.max.columns', 35)  # Number of Columns : 35 > 30
df = df.rename(columns={'NCT Number': 'nct_id'})

df.head()

,nct_id,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,Interventions,Primary Outcome Measures,Secondary Outcome Measures,Other Outcome Measures,Sponsor,Collaborators,Sex,Age,Phases,Enrollment,Funder Type,Study Type,Study Design,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents
0,NCT04385680,Chlorhexidine Vaginal Preparation for Reductio...,https://clinicaltrials.gov/study/NCT04385680,NaN,COMPLETED,The study aims to assess the beneficial value ...,NO,Postpartum Endometritis|Wound Infection|Chlorh...,DRUG: Chlorhexidine Gluconate vaginal solution...,"post-cesarean endometritis, uterine fundal ten...","Significant leukocytosis, increase of WBCs cou...",NaN,Zagazig University,NaN,FEMALE,"ADULT, OLDER_ADULT",PHASE1|PHASE2,840.0,OTHER_GOV,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,chlorhex. post cs endometritis,2020-05-15,2022-03-10,2022-08-30,2020-05-13,NaN,2022-09-23,"Armed Forces Hospitals Southern Region, Khamis...",NaN
1,NCT05017480,A Study to Evaluate the Efficacy and Safety of...,https://clinicaltrials.gov/study/NCT05017480,NaN,COMPLETED,This study will evaluate the efficacy and safe...,YES,Moderate-to-severe Atopic Dermatitis,DRUG: CBP-201|DRUG: Placebo,"Investigator Global Assessment (IGA) (0-1), Th...","Eczema Area and Severity Index (EASI)-75, The ...",NaN,"Suzhou Connect Biopharmaceuticals, Ltd.",NaN,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE2,330.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,CBP-201-CN002,2021-08-31,2022-12-01,2023-09-28,2021-08-23,2024-05-01,2024-05-01,"Connect Investigative Site 33, Hefei, Anhui, C...","Study Protocol, https://cdn.clinicaltrials.gov..."
2,NCT01136980,Randomized EsophyX Versus Sham / Placebo Contr...,https://clinicaltrials.gov/study/NCT01136980,RESPECT,COMPLETED,The objective of the study is to evaluate the ...,YES,Gastroesophageal Reflux Disease|Hiatal Hernia,DEVICE: TIF Transoral Fundoplication|OTHER: Sh...,Number of Participants With a Clinically Signi...,Normalization of Esophageal Acid Exposure - as...,NaN,EndoGastric Solutions,NaN,ALL,"ADULT, OLDER_ADULT",NaN,129.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,D01010,2011-04,2015-04,2018-03,2010-06-04,2021-12-03,2021-12-03,"Cedars Sinai Medical Center, Los Angeles, Cali...",NaN
3,NCT01560780,Prasugrel for Prevention of Early Saphenous Ve...,https://clinicaltrials.gov/study/NCT01560780,NaN,COMPLETED,This is a randomized-controlled clinical trial...,YES,Coronary Artery Bypass,DRUG: Prasugrel|DRUG: Placebo,Prevalence of Intragraft Thrombus at 12-month ...,Number of Patients With Severe Bleeding Using ...,NaN,VA Office of Research and Development,NaN,ALL,"ADULT, OLDER_ADULT",PHASE3,84.0,FED,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,CLIN-007-11F,2013-02-01,2018-04-30,2018-05-31,2012-03-22,2019-10-09,2019-10-30,"San Francisco VA Medical Center, San Francisco...","Study Protocol and Statistical Analysis Plan, ..."
4,NCT03447080,Co-ingestion of Rice Bran Soymilk or Plain Soy...,https://clinicaltrials.gov/study/NCT03447080,NaN,COMPLETED,bread and that rice-bran soymilk will have an ...,NO,"Diabetes Mellitus, Type 2",OTHER: Control|OTHER: Control|OTHER: Ricebran ...,Change in postprandial blood glucose over 180 ...,Change in postprandial plasma insulin over 180...,NaN,Singapore Institute of Food and Biotechnology ...,NaN,MALE,ADULT,NaN,17.0,OTHER_GOV,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: CRO...,2017/00286,2017-06-02,2019-01-18,2019-01-18,2018-02-27,NaN,2019-05-13,"Clinical Nutrition Reseach Centre, Singapore, ...",NaN

### Duplicated Studies

- nct_id always unique --> given from Site page

In [401]:
df = df.merge(my_studies[['nct_id', 'official_title']], on = 'nct_id', how = 'left')

# Shape before
display(df.shape)  
df.drop_duplicates()  
display(df.shape)  # Shape after --> Same --> No duplicate rows in all columns

# Non Unique Study Title or IDs (But not in all columns) --> # Some Studies have Same Study Title but Different nct_id
display(df.describe(include = ['object'])[["nct_id", "Study Title", "official_title", "Acronym", "Other IDs"]])
display(df[df.duplicated(subset = ["Study Title", "Other IDs"], keep = False)].sort_values(by = "Study Title"))  # Some even have Same Other IDs which is given by Sponsors, Study itself etc.

(177601, 31)

(177601, 31)

,nct_id,Study Title,official_title,Acronym,Other IDs
count,177601,177601,175206,48070,177585
unique,177601,177257,174270,40297,175579
top,NCT04385680,Sun Protection Factor Assay,Sun Protection Factor (SPF) Assay: UVA Protect...,RCT,1
freq,1,14,23,70,90

,nct_id,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,Interventions,Primary Outcome Measures,Secondary Outcome Measures,Other Outcome Measures,Sponsor,Collaborators,Sex,Age,Phases,Enrollment,Funder Type,Study Type,Study Design,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,official_title
94774,NCT02692599,Safety and Immunogenicity Study of Live Attenu...,https://clinicaltrials.gov/study/NCT02692599,NaN,COMPLETED,The purpose of this study is to evaluate the i...,NO,Mumps,BIOLOGICAL: investigational live attenuated mu...,The seroconversion rates (SCRs) of susceptible...,The incidences of adverse events (AEs) of each...,NaN,"Sinovac (Dalian) Vaccine Technology Co., Ltd.",NaN,ALL,CHILD,PHASE3,1150.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,PRO-MUMPS-3001,2016-01,2016-03,2016-07-15,2016-02-26,NaN,2017-10-26,Dingxing County Center for Disease Control and...,NaN,"A Blind, Randomized and Controlled Clinical Tr..."
170597,NCT05065177,Safety and Immunogenicity Study of Live Attenu...,https://clinicaltrials.gov/study/NCT05065177,NaN,COMPLETED,The purpose of this study is to evaluate the i...,NO,Mumps,BIOLOGICAL: Investigational live attenuated mu...,The seroconversion rates (SCRs) of susceptible...,The incidences of adverse events (AEs) of each...,NaN,"Sinovac Research and Development Co., Ltd.",NaN,ALL,CHILD,PHASE3,1140.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,PRO-MUMPS-3001,2016-01,2016-03,2016-04,2021-10-01,NaN,2021-10-01,Dingxing County Center for Disease Control and...,NaN,"A Blind, Randomized and Controlled Clinical Tr..."
2866,NCT01602874,Study Evaluating Tigecycline Versus Ceftriaxon...,https://clinicaltrials.gov/study/NCT01602874,NaN,WITHDRAWN,The main purpose of this study is to compare t...,NO,Community Acquired Bacterial Pneumonia|Complic...,DRUG: Tigecycline|DRUG: Tigecycline|DRUG: cIAI...,"Clinical efficacy response (cure, failure, or ...",Clinical response at the IV last day of therap...,NaN,Pfizer,NaN,ALL,CHILD,PHASE3,0.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,3074K4-3340|B1811003,2011-01,2014-05,2014-05,2012-05-21,NaN,2013-02-22,NaN,NaN,"Multicenter, Randomized, And Double-Blind Stud..."
140890,NCT00914888,Study Evaluating Tigecycline Versus Ceftriaxon...,https://clinicaltrials.gov/study/NCT00914888,NaN,WITHDRAWN,The main purpose of this study is to compare t...,NO,Community Acquired Bacterial Pneumonia|Complic...,DRUG: Tigecycline|DRUG: Tigecycline|DRUG: cIAI...,"Clinical efficacy response (cure, failure, or ...",Clinical response at the IV last day of therap...,NaN,Wyeth is now a wholly owned subsidiary of Pfizer,NaN,ALL,CHILD,PHASE3,0.0,INDUSTRY,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,3074K4-3340|B1811003,2011-01,2014-05,2014-05,2009-06-05,NaN,2012-06-07,NaN,NaN,"Multicenter, Randomized, And Double-Blind Stud..."
15703,NCT04043130,The Evaluation of Pulse: A Mobile Health App a...,https://clinicaltrials.gov/study/NCT04043130,NaN,COMPLETED,This study used a randomized controlled design...,NO,Unprotected Sex|Contraceptive Usage,BEHAVIORAL: Pulse,"Unprotected sex, no contraceptive, Ever having...",Reproductive and sexual health care utilizatio...,NaN,Child Trends,Healthy Teen Network|Ewald and Wasserman|MetaM...,FEMALE,ADULT,NaN,2317.0,OTHER,INTERVENTIONAL,Allocation: RANDOMIZED|Intervention Model: PAR...,TP2AH000038,2016-11,2019-11,2020-06,2019-08-02,NaN,2020-06-16,"Healthy Teen Network, Baltimore, Maryland, 212...",NaN,The Evaluation of Pulse: A Mobile Health App a...
157402,NCT03253783,The Evaluation of Pulse: A Mobile Health App a...,https://clinicaltrials.gov/study/NCT03253783,NaN,COMPLETED,This study uses a randomized controlled design...,NO,Unprotected Sex|Contraceptive Usage|Reproducti...,BEHAVIORAL: Pulse,"Unprotected sex, no contraceptive, Ever having...",Reproductive and sexual health care utilizatio...,NaN,Healthy Teen Network,Child Trends|Ewald and Wasserman|Meta Media,FEMALE,ADULT,NaN,1304.0,OTHER,INTERVENTIONAL,Allocation: |Intervention Model: |Masking: NON...,TP2AH000038,2016-11,2017-12,2018-01,2017-08-18,NaN,2018-01-23,"Healthy Teen Network, Baltimore, Maryland, 212...",NaN,The Evaluation of Pulse: A Mobile Health App a...
11512,NCT04761731,To Evaluate the Efficacy and Safety of ADVAGRA...,https://clinicaltrials.gov/study/NCT04761731,Assign,COMPLETED,This study's objective is to evaluate the inci...,NO,Liver Transplantation,DRUG: ADVAGRAF®,Incidence rate of biopsy confirmed acute rejec...,"Severity of biopsy confirmed acute rejection, ...",NaN,Linical Korea,"Astellas Pharma Korea, Inc.|National Cancer Ce...",ALL,"ADULT, OLDER_ADULT",PHASE4,31.0,INDUSTRY,INTERVENTIONAL,Allocation: NA|Intervention Model: SINGLE_GROU...,Assign,2015-07,2017-12-14,2017-12-14,2021-02-21,NaN,2021-02-21,NaN,NaN,"A Single Center, Single Arm, Open-label Study ..."
20192,NCT03423225,To Evaluate the Efficacy and Safety of ADVAGRA...,https://clinicaltrials.gov/study/NCT03423225,NaN,COMPLETED,This study's objective is to evaluate the inci...,NO,Liver Transplantation,DRUG: ADVAGRAF®,Incidence rate of acute rejection reaction con...,Severity of acute rejection reaction confirmed...,NaN,"Kim, Seoung-Hoon","Astellas Pharma Korea, Inc.|Linical Korea",ALL,"ADULT, OLDER_ADULT",PHASE4,31.0,OTHER_GOV,INTERVENTIONAL,Allocation: NA|Intervention Model: SINGLE_GROU...,Assign,2016-03-22,2017-07-18,2017-12-14,2018-02-06,NaN,2018-02-06,NaN,NaN,"A Single Center, Single Arm, Open-label Study ..."

##  Drop Rows
15 clinical trials missing fro db that exist in csv. --> They are about Devise/ Diagnostics/ etc.

In [402]:
df = df.drop(df[~df["nct_id"].isin(my_studies["nct_id"])].index)  
display(df.shape)

(177586, 31)

# 3) Columns Format Dtypes

## Study Status
Information Source: https://clinicaltrials.gov/policy/protocol-definitions#study-status
- Withdrawn Studies = Permenantely Stopped as Noted in Data Source. Withdrawn is Replaced as Terminated.

In [403]:
display(df['Study Status'].value_counts(dropna=False))  # No null values

df["Study Status"] = df["Study Status"].replace("WITHDRAWN", "TERMINATED") # Replace "WITHDRAWN" with "TERMINATED" : withdrawn studies are permanently stopped based on Source
df["Study Status"] = df["Study Status"].astype("category")
display(df['Study Status'].value_counts(dropna = False))  # No null values
display(df.shape)

Study Status
COMPLETED     151707
TERMINATED     17478
WITHDRAWN       8401
Name: count, dtype: int64

Study Status
COMPLETED     151707
TERMINATED     25879
Name: count, dtype: int64

(177586, 31)

## Study Results
- Will not be used for analysis, as they are a result of a Study (like Study Status).
- They do not belong to a pre-Designed Study characteristic.
- Even if stat.sig in some dfi in Theis_Vizual

In [404]:
res_piv = pd.pivot_table(df, 
                index = 'Study Status', 
                columns = 'Study Results', 
                aggfunc = 'size',
                observed = True, 
                )
res_piv = res_piv.div(res_piv.sum(axis = 1), axis = 0).round(2) * 100
res_piv

Study Results    NO   YES
Study Status
COMPLETED      77.0  23.0
TERMINATED     74.0  26.0

## Primary Outcome Measures/Secondary Outcome Measures/Other Outcome Measures
- Will not be used for analysis, as they are a result of a Study (like Study Status).
- They do not belong to a pre-Designed Study characteristic.
- Even if stat.sig in some dfi in Theis_Vizual

## Age_List

In [405]:
display(df["Age"].value_counts(dropna=False))  
 
df["Age"] = df["Age"].str.replace(', ', ',').str.split(",")   # No apply sort(list(x)) needed here - No duplicated elements with diff list-elem order

display(Counter([elem for row_list in df["Age"].dropna() for elem in row_list]))  
# display(set(elem for row_list in df["Age"].dropna() for elem in row_list)) # Unique values in list-type element column
df = df.rename(columns = {"Age": "Age_List"})

display(df["Age_List"].value_counts(dropna = False))  
display(df.shape)

Age
ADULT, OLDER_ADULT           113474
ADULT                         32525
CHILD                         11733
CHILD, ADULT, OLDER_ADULT     10558
CHILD, ADULT                   6475
OLDER_ADULT                    2821
Name: count, dtype: int64

Counter({'ADULT': 163032, 'OLDER_ADULT': 126853, 'CHILD': 28766})

Age_List
[ADULT, OLDER_ADULT]           113474
[ADULT]                         32525
[CHILD]                         11733
[CHILD, ADULT, OLDER_ADULT]     10558
[CHILD, ADULT]                   6475
[OLDER_ADULT]                    2821
Name: count, dtype: int64

(177586, 31)

## Sex_Dum

In [406]:
display(df["Sex"].value_counts(dropna=False))  

# Fillna from my_eligibilities df
df = df.merge(my_eligibilities[["nct_id", "gender"]], on = "nct_id", how = "left")
df['Sex'] = df['Sex'].fillna(df['gender'])
df = df.drop(columns = ['gender'])
df["Sex"].isnull().sum()  # Just 1 row/point filled

# Fillna from Brief Summary
df.loc[ df["Sex"].isnull() & df["Brief Summary"].str.contains(r"(?i)\bmale\b|\bmen\b", na=False) & \
                 df["Brief Summary"].str.contains(r"(?i)\bfemale\b|\bwomen\b", na=False), "Sex"] = "ALL"

df.loc[ df["Sex"].isnull() & ~ df["Brief Summary"].str.contains(r"(?i)\bmale\b|\bmen\b", na=False) & \
                 df["Brief Summary"].str.contains(r"(?i)\bfemale\b|\bwomen\b", na=False), "Sex"] = "FEMALE"

df.loc[ df["Sex"].isnull() & df["Brief Summary"].str.contains(r"(?i)\bmale\b|\bmen\b", na=False) & \
                ~ df["Brief Summary"].str.contains(r"(?i)\bfemale\b|\bwomen\b", na=False), "Sex"] = "MALE"

display(df["Sex"].value_counts(dropna=False))
df = df.rename(columns = {"Sex": "Sex_Dum"})
display(df.shape)

Sex
ALL       151315
FEMALE     17076
MALE        9100
NaN           95
Name: count, dtype: int64

Sex
ALL       151321
FEMALE     17080
MALE        9100
None          85
Name: count, dtype: int64

(177586, 31)

### NaNs (85) --> Drop

## Funder

### Funder_Type_Dum

PRS Source: https://register.clinicaltrials.gov/prs/html/account-organizations.html#page-top
Companies Source : https://companiesmarketcap.com/pharmaceuticals/largest-pharmaceutical-companies-by-market-cap/
1. U.S. National Institutes of Health
2. Other U.S. Federal agencies (for example, Food and Drug Administration, Centers for Disease Control and Prevention, or U.S. Department of Veterans Affairs)
3. Industry (for example: pharmaceutical and device companies)
4. All others (including individuals, universities, and community-based organizations)

Notes: for my_source from db vs df
- 268 rows diferrence in columns my_source['source_class', 'source'] and df['Funder Type', 'Sponsor'] e.g INDUSTRY
source not excact same as Sponsor

In [407]:
df = df.rename(columns = {"Funder Type": "Funder_Type"})
display(df["Funder_Type"].value_counts(dropna = False))  

# Merging Categories into more general 
# Some categories have too little samples (e.g., Thesis Vizual File)
funder_map = {
    'OTHER': 'FUNDER_OTHER',
    'INDUSTRY': 'INDUSTRY',
    'OTHER_GOV': 'GOVERM',
    'FED': 'GOVERM',
    'NIH': 'GOVERM',
    'NETWORK': 'FUNDER_OTHER',
    'INDIV': 'FUNDER_OTHER',
    'UNKNOWN': 'FUNDER_OTHER',
    'AMBIG': 'FUNDER_OTHER'
}
df['Funder_Type'] = df['Funder_Type'].map(funder_map)

df = df.rename(columns = {"Funder_Type": "Funder_Type_Dum"})
display(df["Funder_Type_Dum"].value_counts(dropna=False))  
display(df.shape)

Funder_Type
OTHER        120444
INDUSTRY      49624
OTHER_GOV      3443
FED            1628
NIH            1391
NETWORK         871
INDIV           170
UNKNOWN          13
AMBIG             2
Name: count, dtype: int64

Funder_Type_Dum
FUNDER_OTHER    121500
INDUSTRY         49624
GOVERM            6462
Name: count, dtype: int64

(177586, 31)

### Sponsor_Collab_List

In [408]:
# pharmaceutical companies pattern
pharma = pd.read_csv(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\Pharmaceuticals.csv")
pharma = pharma.rename(columns = {pharma.columns[0]: 'Pharma'})
pharma["Pharma"] = pharma["Pharma"].apply(lambda x: x.rstrip("\xa0")).str.lower()
pharma = pharma.drop_duplicates(subset = ["Pharma"]) 
pharma = pharma["Pharma"]

pharma_pat1 = '|'.join(pharma.unique()).lower()  # Create a regex pattern from the pharma list

# Text_patterns
pharma_pat2 = r'pharm|pharmaceutical|therapeutics|biotech|biosciences|laboratories|\binc\b|\bltd|farmaceut|\
    Farmacéutica|laborator|\blabs\b'
hospital_pat = r'hospital|medical center|clinic|health system|healthcare|urgent|facility|hopital|public health|Hôpital|Hopital'
university_pat = r'academic|university|univers|college|school|institut'

# Sponsor
df["Sponsor_Type"] = [[] for _ in range(len(df))]
#
pattern = pharma_pat1
mask = (df["Sponsor"].str.contains(pattern, case = False, na = False))
      # &((df['Funder_Type_Dum'] == 'INDUSTRY') | (df['Funder_Type_Dum'] == 'FUNDER_OTHER'))
df.loc[mask, "Sponsor_Type"] = df.loc[mask, "Sponsor_Type"].apply(lambda x : x + ['Pharmaceutical'])
#
pattern = pharma_pat2
mask = (df["Sponsor"].str.contains(pattern, case = False, na = False))
      # &((df['Funder_Type_Dum'] == 'INDUSTRY') | (df['Funder_Type_Dum'] == 'FUNDER_OTHER'))
mask = (df["Sponsor"].str.contains(pattern, case = False, na = False)) & (df['Funder_Type_Dum'] == 'INDUSTRY')
df.loc[mask, "Sponsor_Type"] = df.loc[mask, "Sponsor_Type"].apply(lambda x : x + ['Pharmaceutical'])
#
pattern = hospital_pat
mask = df["Sponsor"].str.contains(pattern, case = False, na = False)
df.loc[mask, "Sponsor_Type"] = df.loc[mask, "Sponsor_Type"].apply(lambda x : x + ["Hospital"])
#
pattern = university_pat
mask = df["Sponsor"].str.contains(pattern, case = False, na = False)
df.loc[mask, "Sponsor_Type"] = df.loc[mask, "Sponsor_Type"].apply(lambda x : x + ["University"])

# Collaborators
df["Collaborator_Type"] = [[] for _ in range(len(df))]
#
pattern = pharma_pat1
mask = (df["Collaborators"].str.contains(pattern, case = False, na = False)) # Funder_Type_Dum --> applies only on Funder Type not collaborator as seen from data --> wont mask for collaborator
df.loc[mask, "Collaborator_Type"] = df.loc[mask, "Collaborator_Type"].apply(lambda x : x + ['Pharmaceutical'])
#
pattern = pharma_pat2
mask = df["Collaborators"].str.contains(pattern, case = False, na = False)
df.loc[mask, "Collaborator_Type"] = df.loc[mask, "Collaborator_Type"].apply(lambda x : x + ['Pharmaceutical'])
#
pattern = hospital_pat
mask = df["Collaborators"].str.contains(pattern, case = False, na = False)
df.loc[mask, "Collaborator_Type"] = df.loc[mask, "Collaborator_Type"].apply(lambda x : x + ["Hospital"])
#
pattern = university_pat
mask = df["Collaborators"].str.contains(pattern, case = False, na = False)
df.loc[mask, "Collaborator_Type"] = df.loc[mask, "Collaborator_Type"].apply(lambda x : x + ["University"])

# =============================================================================================================
df["Sponsor_Collab_List"] = df['Sponsor_Type'] + df['Collaborator_Type']
df["Sponsor_Collab_List"] = df["Sponsor_Collab_List"].apply(lambda x: sorted(set(x)))
display(df["Sponsor_Collab_List"].value_counts(dropna=False))

C:\Users\Eugenia\AppData\Local\Temp\ipykernel_22932\1998527034.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = (df["Sponsor"].str.contains(pattern, case = False, na = False))
C:\Users\Eugenia\AppData\Local\Temp\ipykernel_22932\1998527034.py:42: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = (df["Collaborators"].str.contains(pattern, case = False, na = False)) # Funder_Type_Dum --> applies only on Funder Type not collaborator as seen from data --> wont mask for collaborator

Sponsor_Collab_List
[University]                              53064
[Pharmaceutical]                          46300
[]                                        19062
[Pharmaceutical, University]              19059
[Hospital, University]                    14578
[Hospital, Pharmaceutical, University]     9565
[Hospital]                                 9385
[Hospital, Pharmaceutical]                 6573
Name: count, dtype: int64

#### NaNs (19k) --> Sponsor_Collab_Other

In [409]:
df["Sponsor_Collab_List"] = df["Sponsor_Collab_List"].apply(lambda x: ['Spon_coll_Other'] if isinstance(x, list) and len(x) == 0 else x)
display(df["Sponsor_Collab_List"].value_counts(dropna = False))

Sponsor_Collab_List
[University]                              53064
[Pharmaceutical]                          46300
[Spon_coll_Other]                         19062
[Pharmaceutical, University]              19059
[Hospital, University]                    14578
[Hospital, Pharmaceutical, University]     9565
[Hospital]                                 9385
[Hospital, Pharmaceutical]                 6573
Name: count, dtype: int64

In [410]:
df.loc[(df["Sponsor_Collab_List"].apply(lambda x: x == ['Spon_coll_Other']))]\
            [['Sponsor', 'Collaborators', 'Funder_Type_Dum', 'Sponsor_Collab_List']]

,Sponsor,Collaborators,Funder_Type_Dum,Sponsor_Collab_List
3,VA Office of Research and Development,NaN,GOVERM,[Spon_coll_Other]
22,Terumo BCT,NaN,INDUSTRY,[Spon_coll_Other]
24,Boston Scientific Corporation,NaN,INDUSTRY,[Spon_coll_Other]
33,Peyman Sarsangi,NaN,FUNDER_OTHER,[Spon_coll_Other]
35,Egymedicalpedia,NaN,INDUSTRY,[Spon_coll_Other]
...,...,...,...,...
177564,LUCIANA MARIA MALOSA SAMPAIO,NaN,FUNDER_OTHER,[Spon_coll_Other]
177565,Sidney Kimmel Comprehensive Cancer Center at J...,NaN,FUNDER_OTHER,[Spon_coll_Other]
177575,Dr. Mohammad Abu Shaphe,NaN,GOVERM,[Spon_coll_Other]
177576,UMC Utrecht,Apifix,FUNDER_OTHER,[Spon_coll_Other]
177578,MedtronicNeuro,NaN,INDUSTRY,[Spon_coll_Other]

## Study_Documents

Source of unique values: https://clinicaltrials.gov/policy/protocol-definitions#a1-upload

These include : 
- ICF (Informed Consent Form)
- SAP (Statistical Analysis Plan)
- CSR (Clinical Study Report)  --> did not use because its table has less information for documents
- STUDY_PROTOCOL
- ANALYTIC_CODE --> did not use because its table has less information for documents

### Study_Documents_List
- Will not be used for analysis because:
- Not possible all 145k studies not to have at least protocol/consent forms. 
- Seems data where just not uploaded to clinical trials.gov/db.
- Feature not able to be used correctly even if stat.sig reasult in thesis_vizual file.
- feature won't be used for stat analysis.

In [411]:
df = df.merge(my_documents[["nct_id", "Study_Documents"]], on = "nct_id", how = "left")
df["Study_Documents"] = df["Study_Documents"].apply(lambda x: ['Doc_None'] if (isinstance(x, list) and len(x) == 0) else x)
display(Counter([elem for row_list in df["Study_Documents"].dropna() for elem in row_list]))

df = df.rename(columns = {"Study_Documents": "Study_Documents_List"})

Counter({'Doc_None': 145696,
         'Protocol': 30401,
         'Analysis Plan': 29512,
         'Consent Form': 7460})

#### NaNs (145k) --> Doc_None

### Document_Counts

In [412]:
# " Document_Counts" Column
df["Document_Counts"] = df["Study_Documents_List"].apply(lambda x: len(x) if x != ["Doc_None"] else 0) # x != ["Doc_None"] --> Avoid counting [Doc_None]
display(df["Document_Counts"].value_counts(dropna=False))
display(df.shape)

Document_Counts
0    145696
2     23627
3      5928
1      2335
Name: count, dtype: int64

(177586, 36)

### Document_Bin

In [413]:
df["Document_Bin"] = "No"
df.loc[df["Document_Counts"] != 0, "Document_Bin"] = "Yes"
display(df["Document_Bin"].value_counts(dropna=False))
display(df.shape)

Document_Bin
No     145696
Yes     31890
Name: count, dtype: int64

(177586, 37)

## Datetime

- Source Date input : Filter dates have the format of mm/dd/yyyy. Dates Displayed in Outputs (after filtering choices menu) have the Format of yyyyy-mm-dd (or at least yyyy-mm).
- All Datetimes converted to same format : Year-Month is Chosen as Many Dates Include only until Month.

In [414]:
display(df[["Start Date","Completion Date"]].map(len , na_action = 'ignore').nunique()) # Dates are in yyyy-mm-dd (len=10) and yyyy-mm (len=7) format
df[["Start Date","Completion Date"]].head(2)

Start Date         2
Completion Date    2
dtype: int64

   Start Date Completion Date
0  2020-05-15      2022-08-30
1  2021-08-31      2023-09-28

In [415]:
df[["Start Date","Completion Date"]] = df[["Start Date","Completion Date"]].apply(pd.to_datetime, format='%Y-%m', exact=False, errors='coerce')
df[["Start Date","Completion Date"]] = df[["Start Date","Completion Date"]].apply(lambda col: col.dt.to_period('M'))

display(df[["Start Date","Completion Date"]].head(2))

  Start Date Completion Date
0    2020-05         2022-08
1    2021-08         2023-09

### Datetime_Year

In [416]:
# df[["Start_Date_Year_Counts","Completion_Date_Year_Counts"]] = df[["Start Date","Completion Date"]].apply(
#     lambda x: x.dt.year.mask(x.isna(), np.NaN))  # in case needed as NaNs.
df[["Start_Date_Year_Counts", "Completion_Date_Year_Counts"]] = df[["Start Date", "Completion Date"]].apply(
    lambda x: x.dt.year) # dt.year already handles NaT.

df["Start_Date_Year_Counts"] = pd.to_numeric(df["Start_Date_Year_Counts"], errors="coerce").astype("Int64")
df["Completion_Date_Year_Counts"] = pd.to_numeric(df["Completion_Date_Year_Counts"], errors="coerce").astype("Int64")

display(df[["Start_Date_Year_Counts","Completion_Date_Year_Counts"]])

        Start_Date_Year_Counts  Completion_Date_Year_Counts
0                         2020                         2022
1                         2021                         2023
2                         2011                         2018
3                         2013                         2018
4                         2017                         2019
...                        ...                          ...
177581                    2021                         2023
177582                    2020                         2023
177583                    2019                         2022
177584                    2020                         2024
177585                    2023                         2023

[177586 rows x 2 columns]

### Datetime_Gaps

In [417]:
df["Completion_Gap_Counts"] = df["Completion Date"] - df["Start Date"]

df[["Completion_Gap_Counts"]] = df[["Completion_Gap_Counts"]].apply(lambda col: col.astype('str').str.strip('< *MonthEnds>').replace("NaT", np.NaN).replace("", '0').astype('float'))
df[["Completion_Gap_Counts",]] = df[["Completion_Gap_Counts"]].convert_dtypes(convert_integer = True)

display(df[["Completion_Gap_Counts"]].head())
df[["Completion_Gap_Counts"]].describe()

   Completion_Gap_Counts
0                     27
1                     25
2                     83
3                     63
4                     19

       Completion_Gap_Counts
count               177586.0
mean               24.605977
std                21.612307
min                      0.0
25%                      9.0
50%                     19.0
75%                     35.0
max                    163.0

## Interventions

- Source of unique values: https://clinicaltrials.gov/policy/protocol-definitions#arms-groups-interventions

### Intervention_Type_List

In [418]:
df = df.merge(my_interventions_types[["nct_id", "intervention_type"]], on = "nct_id", how = "left")
df = df.rename({"intervention_type" : "Intervention_Type_List"}, axis = 1)
df['Intervention_Type_List'] = df['Intervention_Type_List'].apply(lambda x: ['INTERV_OTHER'] if 'OTHER' in x else x)
display(df["Intervention_Type_List"].value_counts(dropna=False))
display(set(elem for row_list in df["Intervention_Type_List"] for elem in row_list))
display(df["Intervention_Type_List"].isnull().sum())  # No Null Values
display(df.shape)

Intervention_Type_List
[DRUG]                                                59601
[INTERV_OTHER]                                        40309
[BEHAVIORAL]                                          20997
[DEVICE]                                              20567
[PROCEDURE]                                           10267
                                                      ...
[BIOLOGICAL, DRUG, GENETIC, PROCEDURE]                    1
[BIOLOGICAL, DIETARY_SUPPLEMENT, DRUG, RADIATION]         1
[BIOLOGICAL, DEVICE, DRUG, PROCEDURE, RADIATION]          1
[BEHAVIORAL, DIAGNOSTIC_TEST, DIETARY_SUPPLEMENT]         1
[BEHAVIORAL, BIOLOGICAL, DIETARY_SUPPLEMENT, DRUG]        1
Name: count, Length: 141, dtype: int64

{'BEHAVIORAL',
 'BIOLOGICAL',
 'COMBINATION_PRODUCT',
 'DEVICE',
 'DIAGNOSTIC_TEST',
 'DIETARY_SUPPLEMENT',
 'DRUG',
 'GENETIC',
 'INTERV_OTHER',
 'PROCEDURE',
 'RADIATION'}

0

(177586, 41)

### Intervention_Type_Counts

In [419]:
df["Intervention_Type_Counts"] = df["Intervention_Type_List"].apply(lambda x: len(x)) # no null in Intervention_Type_List
display(df["Intervention_Type_Counts"].value_counts(dropna=False))  
display(df["Intervention_Type_Counts"].isnull().sum())
display(df.shape)

Intervention_Type_Counts
1    167444
2      9347
3       736
4        57
5         2
Name: count, dtype: int64

0

(177586, 42)

### Intervention_Method_List

In [420]:
with open("intervention_methods.pkl", "rb") as f:
    data = pickle.load(f)

oral1 = data["oral1"]
oral2 = data["oral2"]
injection1 = data["injection1"]
injection2 = data["injection2"]
topical1 = data["topical1"]
surgical1 = data["surgical1"]

In [421]:
## Interventions column
# Injection
df.loc[df['Interventions'].str.contains(injection1, case = False, na = False), 'Injection'] = "Injection"
df.loc[df['Interventions'].str.lower().str.lower().str.contains(injection2, case = True, na = False), 'Injection'] = "Injection"
# Oral
df.loc[df['Interventions'].str.contains(oral1, case = False, na = False), 'Oral'] = "Oral"
df.loc[df['Interventions'].str.lower().str.lower().str.contains(oral2, case = True, na = False), 'Oral'] = "Oral"
# Topical
df.loc[df['Interventions'].str.contains(topical1, case = False, na = False), 'Topical'] = "Topical"
# Surgical
df.loc[df['Interventions'].str.contains(surgical1, case = False, na = False), 'Surgical'] = "Surgical"

## Brief Summary Column --> 71k null left
# Injection
df.loc[df['Brief Summary'].str.contains(injection1, case = False, na = False) & df['Injection'].isnull(),
        'Injection'] = "Injection"
df.loc[df['Brief Summary'].str.lower().str.lower().str.contains(injection2, case = True, na = False) & df['Injection'].isnull(),
        'Injection'] = "Injection"
# Oral
df.loc[df['Brief Summary'].str.contains(oral1, case = False, na = False) & df['Oral'].isnull() , 'Oral'] = "Oral"
df.loc[df['Brief Summary'].str.lower().str.lower().str.contains(oral2, case = True, na = False) & df['Oral'].isnull(),
        'Oral'] = "Oral"
# Topical
df.loc[df['Brief Summary'].str.contains(topical1, case = False, na = False) & df['Topical'].isnull()
       , 'Topical'] = "Topical"
# Surgical
df.loc[df['Brief Summary'].str.contains(surgical1, case = False, na = False) & df['Topical'].isnull(),
        'Surgical'] = "Surgical"

## Conditions Column --> null left?
"""
# Injection
df.loc[df['Conditions'].str.contains(injection1, case = False, na = False) & df['Injection'].isnull(),
        'Injection'] = "Injection"
df.loc[df['Conditions'].str.lower().str.lower().str.contains(injection2, case = True, na = False) & df['Injection'].isnull(),
        'Injection'] = "Injection"
# Oral
df.loc[df['Conditions'].str.contains(oral1, case = False, na = False) & df['Oral'].isnull(), 
       'Oral'] = "Oral"
df.loc[df['Conditions'].str.lower().str.lower().str.contains(oral2, case = True, na = False) & df['Oral'].isnull(), 
       'Oral'] = "Oral"
# Topical
df.loc[df['Conditions'].str.contains(topical1, case = False, na = False) & df['Topical'].isnull(),
        'Topical'] = "Topical"
# Surgical
df.loc[df['Conditions'].str.contains(surgical1, case = False, na = False) & df['Surgical'].isnull(),
        'Surgical'] = "Surgical"
"""

'\n# Injection\ndf.loc[df[\'Conditions\'].str.contains(injection1, case = False, na = False) & df[\'Injection\'].isnull(),\n        \'Injection\'] = "Injection"\ndf.loc[df[\'Conditions\'].str.lower().str.lower().str.contains(injection2, case = True, na = False) & df[\'Injection\'].isnull(),\n        \'Injection\'] = "Injection"\n# Oral\ndf.loc[df[\'Conditions\'].str.contains(oral1, case = False, na = False) & df[\'Oral\'].isnull(), \n       \'Oral\'] = "Oral"\ndf.loc[df[\'Conditions\'].str.lower().str.lower().str.contains(oral2, case = True, na = False) & df[\'Oral\'].isnull(), \n       \'Oral\'] = "Oral"\n# Topical\ndf.loc[df[\'Conditions\'].str.contains(topical1, case = False, na = False) & df[\'Topical\'].isnull(),\n        \'Topical\'] = "Topical"\n# Surgical\ndf.loc[df[\'Conditions\'].str.contains(surgical1, case = False, na = False) & df[\'Surgical\'].isnull(),\n        \'Surgical\'] = "Surgical"\n'

In [422]:
df = df.merge(my_intervention_methods[['nct_id', 'interv_method']], on = "nct_id", how = "left")
df = df.rename({"interv_method" : "Intervention_Method_List"}, axis = 1)

df["Intervention_Method_List"] = df[['Injection', 'Oral', 'Topical', 'Surgical']].apply(lambda row: [val for val in row if pd.notna(val) and val != "None"], axis=1)
df["Intervention_Method_List"] = df['Intervention_Method_List'].apply(lambda x: sorted(set(x)))
display(df['Intervention_Method_List'].value_counts(dropna = False))
display(df.shape)

Intervention_Method_List
[]                                      71327
[Injection]                             33777
[Oral]                                  15204
[Surgical]                              13398
[Topical]                               10842
[Injection, Surgical]                    8936
[Injection, Oral]                        8121
[Injection, Topical]                     6616
[Oral, Topical]                          2470
[Injection, Oral, Topical]               1825
[Injection, Oral, Surgical]              1802
[Oral, Surgical]                         1679
[Surgical, Topical]                       834
[Injection, Surgical, Topical]            581
[Injection, Oral, Surgical, Topical]       92
[Oral, Surgical, Topical]                  82
Name: count, dtype: int64

(177586, 47)

#### NaNs SOS (71k)

In [423]:
# Fillna Intervention_Method_List
# Intervenion_Type_List
condition = (df['Intervention_Type_List'].apply(lambda x: 'RADIATION' in x)) & \
            (df['Intervention_Method_List'].isnull())
df.loc[condition, 'Intervention_Method_List'] = [['Topical']] * condition.sum()

cond = (df['Intervention_Method_List'].apply(lambda x: isinstance(x, list) and len(x) == 0))
df.loc[cond, 'Intervention_Method_List'] = df.loc[cond, 'Intervention_Method_List'].apply(lambda x: ['Inter_Meth_Other'])
display(df['Intervention_Method_List'].value_counts(dropna = False))

Intervention_Method_List
[Inter_Meth_Other]                      71327
[Injection]                             33777
[Oral]                                  15204
[Surgical]                              13398
[Topical]                               10842
[Injection, Surgical]                    8936
[Injection, Oral]                        8121
[Injection, Topical]                     6616
[Oral, Topical]                          2470
[Injection, Oral, Topical]               1825
[Injection, Oral, Surgical]              1802
[Oral, Surgical]                         1679
[Surgical, Topical]                       834
[Injection, Surgical, Topical]            581
[Injection, Oral, Surgical, Topical]       92
[Oral, Surgical, Topical]                  82
Name: count, dtype: int64

### Intervention_Method_Counts

In [424]:
df['Intervention_Method_Counts'] = df['Intervention_Method_List'].apply(lambda x: len(x))  
# Inter_Meth_Other is a form of 'intervention' other than inj/oral/topical and must be counted.
df['Intervention_Method_Counts'].value_counts(dropna = False)

Intervention_Method_Counts
1    144548
2     28656
3      4290
4        92
Name: count, dtype: int64

## Placebo_Bin

In [425]:
my_placebo2 = my_placebo[my_placebo["group_type"] == "PLACEBO_COMPARATOR"]
df = df.merge(my_placebo2[["nct_id", "group_type"]], on = "nct_id", how = "left")
df = df.rename(columns = {"group_type" : "Placebo_Bin"})
display(df["Placebo_Bin"].value_counts(dropna = False))

df["Placebo_Bin"] = df["Placebo_Bin"].replace({np.NaN : "No", "PLACEBO_COMPARATOR" : "Yes"})
display(df["Placebo_Bin"].value_counts(dropna = False)) 
display(df.shape)

Placebo_Bin
NaN                   144416
PLACEBO_COMPARATOR     33170
Name: count, dtype: int64

Placebo_Bin
No     144416
Yes     33170
Name: count, dtype: int64

(177586, 49)

## Standard_Care_Bin

In [426]:
df = df.merge(my_soc[["nct_id", "Standard_Care"]], on = "nct_id", how = "left")
df = df.rename(columns={"Standard_Care" : "Standard_Care_Bin"})
display(df["Standard_Care_Bin"].value_counts(dropna=False))

df["Standard_Care_Bin"] = df["Standard_Care_Bin"].replace({np.NaN : "No"})
display(df["Standard_Care_Bin"].value_counts(dropna=False))
display(df.shape)

Standard_Care_Bin
NaN    167038
Yes     10548
Name: count, dtype: int64

Standard_Care_Bin
No     167038
Yes     10548
Name: count, dtype: int64

(177586, 50)

## Healthy_Bin

In [427]:
df = df.merge(my_eligibilities[["nct_id", "healthy_volunteers"]], on = "nct_id", how = "left")
df = df.rename(columns={"healthy_volunteers" : "Healthy_Bin"})
df['Healthy_Bin'] = df['Healthy_Bin'].replace({'Condition' : "No", "Healthy" : "Yes"})

display(df["Healthy_Bin"].value_counts(dropna = False))
display(df.shape)

Healthy_Bin
No     118750
Yes     58770
NaN        66
Name: count, dtype: int64

(177586, 51)

## Conditions
- Source MEsH Ontologies and Drugs : https://meshb.nlm.nih.gov/treeView

### Covid_19_Bin

In [428]:
df = df.merge(my_covid[["nct_id", "mesh_term"]], on = "nct_id", how = "left")
df = df.rename(columns={"mesh_term" : "Covid_19_Bin"})
display(df["Covid_19_Bin"].value_counts(dropna=False))
df["Covid_19_Bin"] = df["Covid_19_Bin"].replace({np.NaN : "No", "COVID-19": "Yes"})
display(df["Covid_19_Bin"].value_counts(dropna=False))
display(df.shape)

Covid_19_Bin
NaN         174786
COVID-19      2800
Name: count, dtype: int64

Covid_19_Bin
No     174786
Yes      2800
Name: count, dtype: int64

(177586, 52)

### Conditions_List
- Columns: my_conditions['name'] (list like) = df['Conditions'] (text like | seperated)
### Conditions_Spec_List

In [429]:
df = df.merge(my_conditions[["nct_id", "Category", "heading"]], on = "nct_id", how = "left") # my_conditions['name'] = df['Conditions]
df = df.rename(columns = {"Category" : "Conditions_List", "heading" : "Conditions_Spec_List"})

df["Conditions_List"] = df["Conditions_List"].apply(lambda x: ["Cond_Other"] if isinstance(x, list) and len(x) == 0 else x)
df["Conditions_Spec_List"] = df["Conditions_Spec_List"].apply(lambda x: ["Cond_Spec_Other"] if isinstance(x, list)\
                                                               and len(x) == 0 else x)

display(Counter([elem for row_list in df["Conditions_List"] for elem in row_list]))
display(Counter([elem for row_list in df["Conditions_Spec_List"] for elem in row_list]))

Counter({'Diseases': 130078,
         'Cond_Other': 39471,
         'Psychiatry, Psychology': 25798,
         'Phenomena, Processes': 14366,
         'Analytical, Diagnostic, Therapeutic Techniques, Equipment': 4332,
         'Health Care': 607,
         'Anthropology, Education, Sociology, Social Phenomena': 412,
         'Anatomy': 310,
         'Chemicals, Drugs': 3})

Counter({'Pathological Conditions, Signs and Symptoms': 49671,
         'Cond_Spec_Other': 39471,
         'Nervous System Diseases': 27975,
         'Neoplasms': 24203,
         'Cardiovascular Diseases': 16518,
         'Mental Disorders': 16166,
         'Nutritional and Metabolic Diseases': 15289,
         'Respiratory Tract Diseases': 14793,
         'Skin and Connective Tissue Diseases': 14064,
         'Female Urogenital Diseases and Pregnancy Complications': 13578,
         'Bacterial Infections and Mycoses': 12933,
         'Immune System Diseases': 12155,
         'Digestive System Diseases': 11910,
         'Male Urogenital Diseases': 10936,
         'Musculoskeletal Diseases': 9509,
         'Endocrine System Diseases': 9172,
         'Psychological Phenomena and Processes': 8265,
         'Virus Diseases': 8181,
         'Musculoskeletal and Neural Physiological Phenomena': 7637,
         'Behavior and Behavior Mechanisms': 6957,
         'Congenital, Hereditary, and Neonatal Diseases and Abnormalities': 6889,
         'Hemic and Lymphatic Diseases': 6883,
         'Wounds and Injuries': 6461,
         'Physiological Phenomena': 4965,
         'Eye Diseases': 4843,
         'Stomatognathic Diseases': 4408,
         'Diagnosis': 4180,
         'Investigative Techniques': 3978,
         'Chemically-Induced Disorders': 2923,
         'Otorhinolaryngologic Diseases': 2597,
         'Cell Physiological Phenomena': 1088,
         'Environment and Public Health': 603,
         'Social Sciences': 409,
         'Tissues': 236,
         'Biological Phenomena': 234,
         'Reproductive and Urinary Physiological Phenomena': 226,
         'Physical Phenomena': 132,
         'Therapeutics': 117,
         'Circulatory and Respiratory Physiological Phenomena': 106,
         'Genetic Phenomena': 100,
         'Cells': 72,
         'Immune System Phenomena': 58,
         'Chemical Actions and Uses': 3,
         'Health Care Quality, Access, and Evaluation': 3,
         'Health Services Administration': 3,
         'Human Activities': 3,
         'Fluids and Secretions': 2,
         'Health Care Facilities, Manpower, and Services': 1,
         'Hemic and Immune Systems': 1})

In [430]:
# Merge categories with small samples into larger associated ones.
# Source Mesh : https://meshb.nlm.nih.gov/treeView
display(Counter([elem for row_list in df["Conditions_List"] for elem in row_list]))

cond_map = {
    'Diseases' : 'Cond_Diseases',
    'Anthropology, Sociology': 'Cond_Psychiatry, Psychology, Anthropology, Sociology',
    'Psychiatry, Psychology': 'Cond_Psychiatry, Psychology, Anthropology, Sociology',
    'Anthropology, Education, Sociology, Social Phenomena' : 'Cond_Psychiatry, Psychology, Anthropology, Sociology',
      
    'Anatomy': 'Cond_Phenomena, Processes', # Anatomy ~ Phenomena, Processes as phenomena, processes ~ human systems (Mesh)
    'Phenomena, Processes': 'Cond_Phenomena, Processes',
    'Chemicals, Drugs': 'Cond_Phenomena, Processes',  # Chemicals ~ Phenomena, Processes e.g substance absorption (Mesh)

    'Analytical, Diagnostic, Therapeutic Techniques, Equipment' : 'Cond_Therapeutic, Diagnostic, Equipment',

    'Health Care': 'Cond_Health Care', 

    'Cond_Other' : 'Cond_Other',
}

df['Conditions_List'] = df['Conditions_List'].apply(lambda row: [cond_map.get(val, val) for val in row])

# Display
display(Counter([elem for row_list in df["Conditions_List"] for elem in row_list]))

Counter({'Diseases': 130078,
         'Cond_Other': 39471,
         'Psychiatry, Psychology': 25798,
         'Phenomena, Processes': 14366,
         'Analytical, Diagnostic, Therapeutic Techniques, Equipment': 4332,
         'Health Care': 607,
         'Anthropology, Education, Sociology, Social Phenomena': 412,
         'Anatomy': 310,
         'Chemicals, Drugs': 3})

Counter({'Cond_Diseases': 130078,
         'Cond_Other': 39471,
         'Cond_Psychiatry, Psychology, Anthropology, Sociology': 26210,
         'Cond_Phenomena, Processes': 14679,
         'Cond_Therapeutic, Diagnostic, Equipment': 4332,
         'Cond_Health Care': 607})

In [431]:
# Merge low sample categries into more general ones based on the subject studyed.
cond_map = {
         'Pathological Conditions, Signs and Symptoms': 'Pathological Conditions, Signs, Symptoms',  # 49671 # Diseases

         'Nervous System Diseases': 'Nervous System', # 27975

         'Cond_Spec_Other': 'Cond_Spec_Other', # 39471

         'Neoplasms': 'Neoplasms', # 24203

         'Cardiovascular Diseases': 'Cardiovascular', # 16518

         'Skin and Connective Tissue Diseases': 'Skin, Tissue', # 14064
         'Tissues': 'Skin, Tissue', # 236

         'Respiratory Tract Diseases': 'Respiratory, Circulatory', # 14793
         'Circulatory and Respiratory Physiological Phenomena': 'Respiratory, Circulatory', # 106

         'Female Urogenital Diseases and Pregnancy Complications': 'Urogenital, Pregnancy', # 13578 # Reproductive System has 291 females, 14 all and only 1 male
         'Male Urogenital Diseases': 'Urogenital, Pregnancy', # 10936
         'Reproductive and Urinary Physiological Phenomena': 'Urogenital, Pregnancy', # 226 
         
         'Bacterial Infections and Mycoses': 'Bacterial Infections and Mycoses', # 12933
         'Virus Diseases': 'Virus Diseases', # 8181

         'Immune System Diseases': 'Hemic, Lymphatic, Immune System', # 12155
         'Immune System Phenomena': 'Hemic, Lymphatic, Immune System', # 58
         'Hemic and Immune Systems': 'Hemic, Lymphatic, Immune System', # 1
         'Hemic and Lymphatic Diseases': 'Hemic, Lymphatic, Immune System', # 6883
         
         'Digestive System Diseases': 'Digestive System, Nutritional, Metabolic', # 11910
         'Nutritional and Metabolic Diseases': 'Digestive System, Nutritional, Metabolic', # 15289
                  
         'Musculoskeletal Diseases': 'Musculoskeletal, Neural', # 9509
         'Musculoskeletal and Neural Physiological Phenomena': 'Musculoskeletal, Neural', # 7637

         'Endocrine System Diseases': 'Endocrine System', # 9172

         'Congenital, Hereditary, and Neonatal Diseases and Abnormalities': 'Hereditary, Neonatal, Abnormalities', # 6889

         'Wounds and Injuries': 'Wounds, Injuries', # 6461

         'Eye Diseases': 'Eye', # 4843

         'Stomatognathic Diseases': 'Stomatognathic', # 4408

         'Otorhinolaryngologic Diseases': 'Otorhinolaryngologic', # 2597

         'Chemically-Induced Disorders': 'Chemical Disorders', # 2923

# 'Psychiatry, Psychology, Anthropology, Sociology'
         'Psychological Phenomena and Processes': 'Psychiatry, Psychology, Anthropology, Sociology', # 8265
         'Behavior and Behavior Mechanisms': 'Psychiatry, Psychology, Anthropology, Sociology', # 6957
         'Mental Disorders': 'Psychiatry, Psychology, Anthropology, Sociology', # 16166
         'Social Sciences': 'Psychiatry, Psychology, Anthropology, Sociology',  # 409 # Anthropology, Sociology
         'Human Activities': 'Psychiatry, Psychology, Anthropology, Sociology', # 3 # Anthropology, Sociology

# 'Phenomena, Processes'
         'Physiological Phenomena': 'Phenomena, Processes', # 132
         'Biological Phenomena': 'Phenomena, Processes', # 234
         'Physical Phenomena': 'Phenomena, Processes', # 4965
         'Genetic Phenomena': 'Phenomena, Processes', # 100
         'Cell Physiological Phenomena': 'Phenomena, Processes', # 1088
         'Cells': 'Phenomena, Processes', # 72 # Anatomy
         'Fluids and Secretions': 'Phenomena, Processes', # 2 # Anatomy 
         'Chemical Actions and Uses': 'Chemicals', # 3

# 'Diagnostic, Equipment'
         'Diagnosis': 'Therapeutics, Diagnosis, Equipment', # 4180  
         'Investigative Techniques': 'Therapeutics, Diagnosis, Equipment', # 3978
         'Therapeutics': 'Therapeutics, Diagnosis, Equipment', # 117

# Health Care, Environment, Other
         'Health Care Quality, Access, and Evaluation': 'Health Care', # 3
         'Health Services Administration': 'Health Care', # 3
         'Health Care Facilities, Manpower, and Services': 'Health Care', # 1
         'Environment and Public Health': 'Health Care',  # 603
}

display(Counter([elem for row_list in df["Conditions_Spec_List"] for elem in row_list]))
df['Conditions_Spec_List'] = df['Conditions_Spec_List'].apply(lambda row: [cond_map.get(val, val) for val in row])

display(Counter([elem for row_list in df["Conditions_Spec_List"] for elem in row_list]))

Counter({'Pathological Conditions, Signs and Symptoms': 49671,
         'Cond_Spec_Other': 39471,
         'Nervous System Diseases': 27975,
         'Neoplasms': 24203,
         'Cardiovascular Diseases': 16518,
         'Mental Disorders': 16166,
         'Nutritional and Metabolic Diseases': 15289,
         'Respiratory Tract Diseases': 14793,
         'Skin and Connective Tissue Diseases': 14064,
         'Female Urogenital Diseases and Pregnancy Complications': 13578,
         'Bacterial Infections and Mycoses': 12933,
         'Immune System Diseases': 12155,
         'Digestive System Diseases': 11910,
         'Male Urogenital Diseases': 10936,
         'Musculoskeletal Diseases': 9509,
         'Endocrine System Diseases': 9172,
         'Psychological Phenomena and Processes': 8265,
         'Virus Diseases': 8181,
         'Musculoskeletal and Neural Physiological Phenomena': 7637,
         'Behavior and Behavior Mechanisms': 6957,
         'Congenital, Hereditary, and Neonatal Diseases and Abnormalities': 6889,
         'Hemic and Lymphatic Diseases': 6883,
         'Wounds and Injuries': 6461,
         'Physiological Phenomena': 4965,
         'Eye Diseases': 4843,
         'Stomatognathic Diseases': 4408,
         'Diagnosis': 4180,
         'Investigative Techniques': 3978,
         'Chemically-Induced Disorders': 2923,
         'Otorhinolaryngologic Diseases': 2597,
         'Cell Physiological Phenomena': 1088,
         'Environment and Public Health': 603,
         'Social Sciences': 409,
         'Tissues': 236,
         'Biological Phenomena': 234,
         'Reproductive and Urinary Physiological Phenomena': 226,
         'Physical Phenomena': 132,
         'Therapeutics': 117,
         'Circulatory and Respiratory Physiological Phenomena': 106,
         'Genetic Phenomena': 100,
         'Cells': 72,
         'Immune System Phenomena': 58,
         'Chemical Actions and Uses': 3,
         'Health Care Quality, Access, and Evaluation': 3,
         'Health Services Administration': 3,
         'Human Activities': 3,
         'Fluids and Secretions': 2,
         'Health Care Facilities, Manpower, and Services': 1,
         'Hemic and Immune Systems': 1})

Counter({'Pathological Conditions, Signs, Symptoms': 49671,
         'Cond_Spec_Other': 39471,
         'Psychiatry, Psychology, Anthropology, Sociology': 31800,
         'Nervous System': 27975,
         'Digestive System, Nutritional, Metabolic': 27199,
         'Urogenital, Pregnancy': 24740,
         'Neoplasms': 24203,
         'Hemic, Lymphatic, Immune System': 19097,
         'Musculoskeletal, Neural': 17146,
         'Cardiovascular': 16518,
         'Respiratory, Circulatory': 14899,
         'Skin, Tissue': 14300,
         'Bacterial Infections and Mycoses': 12933,
         'Endocrine System': 9172,
         'Therapeutics, Diagnosis, Equipment': 8275,
         'Virus Diseases': 8181,
         'Hereditary, Neonatal, Abnormalities': 6889,
         'Phenomena, Processes': 6593,
         'Wounds, Injuries': 6461,
         'Eye': 4843,
         'Stomatognathic': 4408,
         'Chemical Disorders': 2923,
         'Otorhinolaryngologic': 2597,
         'Health Care': 610,
         'Chemicals': 3})

#### NaNs (17k) --> cond_none

In [432]:
# Search for Condition/body part worlds in 'Conditions' Column if 
Conditions2 = pd.DataFrame(sorted(set('|'.join(df.loc[
        df['Conditions_Spec_List'].apply(lambda row: (
            'Phenomena, Processes' in row or 'Pathological Conditions, Signs, Symptoms' in row or 'Cond_Spec_Other' in row)), 
            'Conditions'].dropna().astype(str)).replace(', ', '|').split('|'))), columns = ['Conditions2'])

# Split Conditions2 into 4 columns --> Keep only the first 4 columns
Conditions2 = Conditions2['Conditions2'].str.split(' ', expand = True)
Conditions2 = Conditions2.iloc[:, 0:4]
Conditions2 = Conditions2.drop_duplicates(keep = 'first').dropna()
# Keep worlds of Conditions/Body parts as a list.
cond2 = sorted(set(Conditions2[0].tolist())) + sorted(set(Conditions2[1].tolist())) +\
     sorted(set(Conditions2[2].tolist())) + sorted(set(Conditions2[3].tolist()))

# Create list of key worlds to search in 'Conditions' to fill Conditions_List/Conditions_Spec_List columns
texts = [
 # a   
 'abdominal','abdominis','abnormality','abortion','accident','acne','activities','adrenal','aging','airway','allergy',
 'alveolar','alzheimer','anaesthesia','analgesi','analgesia','anemia','anesthesia','anorexia','antibiotic','antibody mediated rejection',
 'anticalculus','anticoag','antimicrobial resistance','anxiety','aortic','apnoea','appetite','arthritis','asthma','atheroscler',
 'atherosclerotic','attention deficit hyperactivity disorder','autism','avascular','axillary',
 # b
 'bacteria','bacterial','behavior',"bichat's",
 'bilateral','bile','bioavailability','bioequivalence','bipolar','bladder','bleeding','blood pressure','blood vessels','bone','bones',
 'botulinum','bowel','bradycardia','brain','breast','bronchitis','bronchoscopic','buprenorphine','bypass', 'blood sugar',
 # c
 'cancer','cannabis','carcinoma',
 'cardiac','cardiovascular','health care','caregiver','carotid','cartilage','cell','cellulite','cerebral','cervical','cervix','cesarean',
 'changas','cheek','chemical','chemotherapy','chest','cholesterol','chromosome-negative','cigar','clostridium','coagulation','cocaine',
 'coffee','colitis','colon','colonoscopy','connective tissue','constipation','contraception','corneae','coronary','covid','critical ill',
 'critically ill','cruciate ligament','cystic fibrosis',
 # d
 'defecation','dementia','dental','depression','dermatitis','dexamethasone-induced','diabet',
 'diabetes','diabetic','diaphragm','diarrhea','diet','digestive','donor','drug effect','drug-induced','dyslipidemia','dyspepsia',
 # e
 'ear','eczema','education','encephalitis','endocrine','endometriosis','epilepsy','epithelial','esophageal','esophagus','eustachian',
 'exercise','extracorporeal','eye','fat','fever','fevers','fibrosclerotic','fibrosis/tubular','food','foot',
 # g
 'gallbladder','gastric','gastritis','gastro','gastroesophageal','gastrointestinal','gastroretentive','genetic','genitourinary','gingival',
 'glaucoma','gout',
 # h
 'haemopoietic','hamstring','hand','healthcare','heart','heart failure','helicobacter pylori','helminth','hematopoietic','hemmorhagic',
 'hemodialysis','hemorrhage','hepatic','hepatics','hepatitis','hernia','heroin','hiccup','hip','hormones','hypertension','hypertensive',
 'hypothermia','hypovolaemia','hypovolemia','hypoxia','hysterectomy',
 # i
 'ileostomy','immun','immune','incisional','incretin',
 'infant','infected','infection','inflammation','inflammatory bowel','inguinal','insomnia','integumentary','interstitial','intestinal',
 'intestine','intra-cytoplasmic','intracellular','iris','ischemia','ischemic','jaw',
 # k
 'kidney','knee',
 # l
 'labour','laryngeal','leg','leukemia','ligament','limb','limbus','lipid','liver','lumbar','lung','lupus','lymph nodes','lymphatic','lymphoid',
 # m
 'malaria','masseter','melatonin','menopausal','menopause','menstrual','mental','metabolism','metastatic','methamphetamin',
 'migraine','mouth','mucous','muscle','muscles','muscular','musculoskeletal system','mutations','myalgia','myomectomy',
 # n
 'nasal','nausea','neck','neoplasm','nephritis','nerve','nerves','nervous system','neuromuscular','neuropsychiatric','neurotrophic',
 'nicotin','nurse','nutri','nutrient',
 # o
 'obese','obesity','occlusive','ocular','oocyte','opioid','osteo','ovaries','oxygen','oxygenation',
 # p
 'pain','pancrea','pancreas','panniculopathy','papillomavirus','papiloma','parathyroid','parkinson','pelvic','pelvis','penis','perianal',
 'pghysical activity','pharmacokinetic','pharmacokinetics','phycolog','physical','physical activity','plasma','polyp','popliteal',
 'post-lung','postoperative','postprandial','pregnan','prenatal','prolapse','prostate','psoriasis','pulmonary',
 #r
 'radio','radiotherapy-induced',
 'rectal','rectum','renal','reproductive','respiratory', r'\brib\b', r'\bsars\b',
 # s
 'scalp','schizophrenia','scoliosis','sedation','sepsis','shoulder','skeletal','skin','sleep','smok','social','spinal',
 'spine','spleen','staphylococcus','stoma','stomach','streptococcus','stress','stroke','sympathetic',
 # t
 'tachycardia','teeth',
 'temporomandibular','tendon','tendons','testes','testicles','tetrahydrocannabinol','thoracic','thymus','thyroid','tissue',
 'tobacco','tongue','tonsillitis','tooth','toxin-induced','trachea','tracheo','tuberculosis','tumor',
 # u
 'ulceration','unilateral','ureter','urethra','urin','urinary','urine','uter','uterovaginal','uterus','vagina','vaginal','valgus',
 # v
 'vaping','vascular','vasomotor','ventral','verrucous','violence','vision','visual','vitamin','vomiting','vulvar',
 # w
 'white spot lesion','wound','wrinkle', 'weight gain']

texts = sorted(set([t.lower() for t in texts]))

In [433]:
display(df["Conditions_List"].apply(lambda x : x == ['Cond_Other']).sum())
display(df["Conditions_Spec_List"].apply(lambda x : x == ['Cond_Spec_Other']).sum())

# ===============================================================================================================================
# Covid-19 Column
df.loc[(df['Covid_19_Bin'] == 'Yes') & (df['Conditions_List'].apply(lambda x: x == ['Cond_Other'])),'Conditions_List'] = df.loc[df['Covid_19_Bin'] == 'Yes','Conditions_List'].apply(
    lambda x: ['Diseases'])

df.loc[(df['Covid_19_Bin'] == 'Yes') & (df['Conditions_Spec_List'].apply(lambda x: x == ['Cond_Spec_Other'])),'Conditions_Spec_List'] = df.loc[df['Covid_19_Bin'] == 'Yes','Conditions_Spec_List'].apply(
    lambda x: ['Respiratory, Circulatory', 'Virus Diseases']) # Top list element.

# ===============================================================================================================================
# Conditions Column
for text in texts:
    case = False
    try:
        # Constraints
        constr1 = ((df["Conditions"].str.contains(text, case = case)) & (df['Conditions_List'].apply(lambda x: x == ['Cond_Other'])))
        constr2 = ((df["Conditions"].str.contains(text, case = case)) & (df['Conditions_Spec_List'].apply(lambda x: x == ['Cond_Spec_Other'])))
        # text_new
        text_new1 = df.loc[df['Conditions'].str.contains(text, case = case) & df['Conditions_List'].apply(
            lambda x: x != ['Cond_Other'])]['Conditions_List'].value_counts(ascending = False).index[0]
        
        text_new2 = df.loc[df['Conditions'].str.contains(text, case = case) & df['Conditions_Spec_List'].apply(
            lambda x: x != ['Cond_Spec_Other'])]['Conditions_Spec_List'].value_counts(ascending = False).index[0] 
        # Applying the changes
        df.loc[constr1, 'Conditions_List'] = df.loc[constr1, 'Conditions_List'].apply(lambda x: text_new1)
        df.loc[constr2, 'Conditions_Spec_List'] = df.loc[constr2, 'Conditions_Spec_List'].apply(lambda x: text_new2)
    except IndexError:
        continue

# ===============================================================================================================================
texts = r'\bALS\b|\bBPH\b|\bACL\b|\bALL\b|\bAML\b|\bARDS\b|\bAccidental Falls\b|\bAlcohol\b|\bHPV\b|\
    \bCOPD\b|\bPTSD\b|\bNSCLC\b|\bPCOS\b|\bOHSS\b|\bOSA\b|\bNAFLD\b|\bPOH\b|\bABPA\b|\bIBD\b|\
    \bPACU\b|\bPIK3CA\b|\bAOD\b|\bBPF\b\bNYHA\b|\bIPOM\b|\bHIV\b|\baids\b|\bAIDS\b|\badhd\b'

case = True
try:
# Constraints
    constr1 = ((df["Conditions"].str.contains(texts, case = case)) & (df['Conditions_List'].apply(lambda x: x == ['Cond_Other'])))
    constr2 = ((df["Conditions"].str.contains(texts, case = case)) & (df['Conditions_Spec_List'].apply(lambda x: x == ['Cond_Spec_Other'])))
# text_new - 1st choice as comments = for most common list description
    # text_new1 = df.loc[df['Conditions'].str.contains(texts, case = case) & df['Conditions_List'].apply(lambda x: x != ['Cond_Other'])]\
    # ['Conditions_List'].value_counts(ascending = False).index[0]
    # text_new2 = df.loc[df['Conditions'].str.contains(texts, case = case) & df['Conditions_Spec_List'].apply(lambda x: x != ['Cond_Spec_Other'])]\
    # ['Conditions_Spec_List'].value_counts(ascending = False).index[0]
    
# text_new - 1st choice as comments = for most common element description
    all_elements1 = [elem for sublist in df.loc[df['Conditions'].str.contains(texts, case=case) & df['Conditions_List'].apply(lambda x: x != ['Cond_Other']), 'Conditions_List'] for elem in sublist]
    text_new1 = [Counter(all_elements1).most_common(1)[0][0]]
    all_elements2 = [elem for sublist in df.loc[df['Conditions'].str.contains(texts, case=case) & df['Conditions_Spec_List'].apply(lambda x: x != ['Cond_Spec_Other']), 'Conditions_Spec_List'] for elem in sublist]
    text_new2 = [Counter(all_elements2).most_common(1)[0][0]]
    # Applying the changes
    df.loc[constr1, 'Conditions_List'] = df.loc[constr1, 'Conditions_List'].apply(lambda x: text_new1)
    df.loc[constr2, 'Conditions_Spec_List'] = df.loc[constr2, 'Conditions_Spec_List'].apply(lambda x: text_new2)
except IndexError:
    pass

# ===============================================================================================================================
display(df["Conditions_List"].apply(lambda x : x == ['Cond_Other']).sum())
display(df["Conditions_Spec_List"].apply(lambda x : x == ['Cond_Spec_Other']).sum())

39471

39471

17565

17565

In [434]:
# ===============================================================================================================================
# Sort/Set
df["Conditions_List"] = df["Conditions_List"].apply(lambda x: sorted(set(x)))
df["Conditions_Spec_List"] = df["Conditions_Spec_List"].apply(lambda x: sorted(set(x)))

# ===============================================================================================================================
# Erase 'Phenomena, Processes' if len_list > 1. They are mostly phenomena due to Conditions. 
df['Conditions_List'] = df['Conditions_List'].apply(
    lambda row: [elem for elem in row if elem != 'Cond_Phenomena, Processes'] if 
    ('Phenomena, Processes' in row and len(row) >= 2) else row)

df['Conditions_Spec_List'] = df['Conditions_Spec_List'].apply(
    lambda row: [elem for elem in row if elem != 'Phenomena, Processes'] if 
    ('Phenomena, Processes' in row and len(row) >= 2) else row)

# Erase 'Pathological Conditions, Signs, Symptoms' if len_list > 1. They are mostly symptoms due to Conditions. 
df['Conditions_Spec_List'] = df['Conditions_Spec_List'].apply(
    lambda row: [elem for elem in row if elem != 'Pathological Conditions, Signs, Symptoms'] if 
    ('Pathological Conditions, Signs, Symptoms' in row and len(row) >= 2) else row)

# ===============================================================================================================================
# Display
display(df["Conditions_List"].apply(lambda x: x == ['Cond_Other']).sum())
display(df["Conditions_Spec_List"].apply(lambda x: x == ['Cond_Spec_Other']).sum())

display(df["Conditions_List"].value_counts(dropna = False))
display(df["Conditions_Spec_List"].value_counts(dropna = False))

17565

17565

Conditions_List
[Cond_Diseases]                                                                                                                              122320
[Cond_Other]                                                                                                                                  17565
[Cond_Diseases, Cond_Psychiatry, Psychology, Anthropology, Sociology]                                                                         11003
[Cond_Psychiatry, Psychology, Anthropology, Sociology]                                                                                         9798
[Cond_Diseases, Cond_Phenomena, Processes, Cond_Psychiatry, Psychology, Anthropology, Sociology]                                               8731
[Cond_Diseases, Cond_Phenomena, Processes, Cond_Therapeutic, Diagnostic, Equipment]                                                            4264
[Cond_Diseases, Cond_Phenomena, Processes]                                                                                                     2790
[Cond_Diseases, Cond_Health Care]                                                                                                               374
[Cond_Diseases, Cond_Phenomena, Processes, Cond_Psychiatry, Psychology, Anthropology, Sociology, Cond_Therapeutic, Diagnostic, Equipment]       282
[Cond_Diseases, Cond_Health Care, Cond_Phenomena, Processes]                                                                                    130
[Cond_Diseases, Cond_Therapeutic, Diagnostic, Equipment]                                                                                        120
[Cond_Diseases, Cond_Psychiatry, Psychology, Anthropology, Sociology, Cond_Therapeutic, Diagnostic, Equipment]                                  106
[Cond_Diseases, Cond_Health Care, Cond_Psychiatry, Psychology, Anthropology, Sociology]                                                          54
[Cond_Diseases, Cond_Health Care, Cond_Phenomena, Processes, Cond_Psychiatry, Psychology, Anthropology, Sociology]                               45
[Cond_Diseases, Cond_Health Care, Cond_Phenomena, Processes, Cond_Therapeutic, Diagnostic, Equipment]                                             2
[Cond_Diseases, Cond_Health Care, Cond_Psychiatry, Psychology, Anthropology, Sociology, Cond_Therapeutic, Diagnostic, Equipment]                  2
Name: count, dtype: int64

Conditions_Spec_List
[Cond_Spec_Other]                                                                                                                           17565
[Psychiatry, Psychology, Anthropology, Sociology]                                                                                           11351
[Cardiovascular]                                                                                                                             9007
[Musculoskeletal, Neural, Nervous System, Psychiatry, Psychology, Anthropology, Sociology]                                                   8537
[Digestive System, Nutritional, Metabolic]                                                                                                   6775
                                                                                                                                            ...
[Endocrine System, Hemic, Lymphatic, Immune System, Hereditary, Neonatal, Abnormalities, Urogenital, Pregnancy]                                 1
[Eye, Hereditary, Neonatal, Abnormalities, Psychiatry, Psychology, Anthropology, Sociology]                                                     1
[Cardiovascular, Eye, Hereditary, Neonatal, Abnormalities, Musculoskeletal, Neural, Skin, Tissue, Stomatognathic]                               1
[Cardiovascular, Chemical Disorders, Health Care, Hemic, Lymphatic, Immune System, Musculoskeletal, Neural, Neoplasms, Wounds, Injuries]        1
[Neoplasms, Respiratory, Circulatory, Skin, Tissue, Virus Diseases]                                                                             1
Name: count, Length: 1957, dtype: int64

## Adverse

### Adverse_List

In [435]:
df = df.merge(my_adverse[["nct_id", "event_type"]], on = "nct_id", how = "left")
df = df.rename(columns={"event_type" : "Adverse_List"})
df["Adverse_List"] = df["Adverse_List"].apply(lambda x: ['None'] if (isinstance(x, list) and len(x) == 0) else x) 
df["Adverse_List"] = df["Adverse_List"].replace('Other', 'Unspecified')
df['Adverse_List'] = df['Adverse_List'].apply(lambda lst: ['Adv_' + elem for elem in lst])

# if nan here means no adverse recorded!

display(df["Adverse_List"].value_counts(dropna=False))
display(df.shape)

Adverse_List
[Adv_None]                             144050
[Adv_Death, Adv_Other, Adv_Serious]     12233
[Adv_Other, Adv_Serious]                 6847
[Adv_Other]                              6822
[Adv_Death]                              3070
[Adv_Death, Adv_Other]                   2827
[Adv_Death, Adv_Serious]                 1038
[Adv_Serious]                             699
Name: count, dtype: int64

(177586, 55)

#### NaNs (144k) --> Adve_None

### Adverse_Counts
- number of adverse noticed at the participants

In [436]:
df = df.merge(my_adverse[["nct_id","event_sum"]], on = "nct_id", how = "left")
df = df.rename(columns={"event_sum" : "Adverse_Counts"}) 
df["Adverse_Counts"] = df["Adverse_Counts"].astype(int)
display(df["Adverse_Counts"].value_counts(dropna = False))

Adverse_Counts
0       146459
1         2494
3         1401
2          856
6          855
         ...
846          1
3960         1
4298         1
1301         1
1144         1
Name: count, Length: 1542, dtype: int64

#### NaNs (661)
661 rows have Adverse_Counts == 0 however adverse_list == ['Adv_Death']

In [437]:
df.loc[(df['Adverse_Counts'] != 0) & (df['Adverse_List'].apply(lambda x: x == ['Adv_Death'])), 'Adverse_Counts']

301         13
857          1
1377         7
1605         1
1826         1
          ...
176457      10
176546       3
176563       3
176767       6
176991    3559
Name: Adverse_Counts, Length: 661, dtype: int32

### Adverse_Counts_Log

In [438]:
df['Adverse_Counts_Log'] = np.log1p(df['Adverse_Counts'])
display(df['Adverse_Counts_Log'].describe())

count    177586.000000
mean          0.597927
std           1.475114
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.159759
Name: Adverse_Counts_Log, dtype: float64

### Adverse_Counts_Sqrt

In [439]:
df['Adverse_Counts_Sqrt'] = np.sqrt(df['Adverse_Counts'])
display(df['Adverse_Counts_Sqrt'].describe())

count    177586.000000
mean          1.384075
std           4.834861
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         265.037733
Name: Adverse_Counts_Sqrt, dtype: float64

### Adverse_Bin

In [440]:
df.loc[df["Adverse_Counts"] == 0, "Adverse_Bin"] = 'No'
df.loc[df["Adverse_Counts"] >= 1, "Adverse_Bin"] = 'Yes'

### Adverse_System_List

In [441]:
df = df.merge(my_adverse_system[["nct_id", "organ_system"]], on = "nct_id", how = "left")
df = df.rename(columns={"organ_system" : "Adverse_System_List"})
df["Adverse_System_List"].value_counts(dropna = False)

Adverse_System_List
NaN                                                                                                                                                                                                                                                                                147041
[General]                                                                                                                                                                                                                                                                             551
[Skin]                                                                                                                                                                                                                                                                                485
[Gastrointestinal]                                                                                                                                                                                                                                                                    452
[Nervous System]                                                                                                                                                                                                                                                                      297
                                                                                                                                                                                                                                                                                    ...
[Ear, Immune System, Musculoskeletal]                                                                                                                                                                                                                                                   1
[Ear, Eye, Gastrointestinal, General, Infections, Injury/ Poisoning/ Procedural, Metabolism/ Nutrition, Musculoskeletal, Nervous System, Psychiatric/ Social, Reproductive/ Breast, Respiratory, Skin, Vascular]                                                                        1
[Blood/ Lymphatic, Cardio, Ear, Endocrine, Gastrointestinal, General, Immune System, Infections, Injury/ Poisoning/ Procedural, Psychiatric/ Social, Surgical/ Medical]                                                                                                                 1
[Blood/ Lymphatic, Cardio, Ear, Endocrine, Eye, Gastrointestinal, General, Hepatobiliary, Immune System, Infections, Injury/ Poisoning/ Procedural, Investigations, Metabolism/ Nutrition, Musculoskeletal, Neoplasms, Nervous System, Reproductive/ Breast, Respiratory, Skin]         1
[Blood/ Lymphatic, Cardio, Gastrointestinal, General, Renal/ Urinary, Respiratory, Vascular]                                                                                                                                                                                            1
Name: count, Length: 16193, dtype: int64

#### NaNs (143k) --> ['Adve_Syst_None']

In [442]:
# Checked: Only None and Death at Adv_List col for nan in Adverse_System_List col
cond1 = (df['Adverse_System_List'].isnull()) & (df['Adverse_List'].apply(lambda x: x == ['Adv_None'])) 
cond2 = (df['Adverse_System_List'].isnull()) & (df['Adverse_List'].apply(lambda x: x == ['Adv_Death']))

df['Adverse_System_List'] = np.where(cond1, 'None', df['Adverse_System_List'])
df['Adverse_System_List'] = np.where(cond2, 'Death', df['Adverse_System_List'])
df['Adverse_System_List'] = df['Adverse_System_List'].apply(lambda x: [x] if isinstance(x, str) else x)

df["Adverse_System_List"] = df["Adverse_System_List"].apply(lambda x: sorted(set(x)) if isinstance(x, str) else x)
df['Adverse_System_List'] = df['Adverse_System_List'].apply(lambda lst: ['Adv_Sy_' + elem for elem in lst])

display(df["Adverse_System_List"].explode().value_counts(dropna=False))
display(df.shape)

Adverse_System_List
Adv_Sy_None                             143998
Adv_Sy_Gastrointestinal                  21793
Adv_Sy_Nervous System                    20325
Adv_Sy_General                           20257
Adv_Sy_Infections                        19280
Adv_Sy_Respiratory                       17454
Adv_Sy_Musculoskeletal                   16648
Adv_Sy_Skin                              15624
Adv_Sy_Injury/ Poisoning/ Procedural     14151
Adv_Sy_Cardio                            13736
Adv_Sy_Investigations                    12859
Adv_Sy_Metabolism/ Nutrition             12833
Adv_Sy_Vascular                          12596
Adv_Sy_Psychiatric/ Social               12580
Adv_Sy_Renal/ Urinary                    11927
Adv_Sy_Blood/ Lymphatic                  11736
Adv_Sy_Eye                                9128
Adv_Sy_Neoplasms                          8350
Adv_Sy_Hepatobiliary                      7182
Adv_Sy_Reproductive/ Breast               6820
Adv_Sy_Ear                                5926
Adv_Sy_Immune System                      5489
Adv_Sy_Endocrine                          4220
Adv_Sy_Surgical/ Medical                  3490
Adv_Sy_Death                              3043
Adv_Sy_Genetic                            1370
Adv_Sy_Product Issues                     1320
Adv_Sy_Pregnancy/ Perinatal               1283
Adv_Sy_Social                              720
Name: count, dtype: int64

(177586, 60)

### Adverse_System_Counts

In [443]:
df['Adverse_System_Counts'] = df['Adverse_System_List'].apply(lambda x: len(x) if isinstance(x, list) and x != ['Adv_Sy_None'] else 0)
display(df['Adverse_System_Counts'].value_counts(dropna = False))

Adverse_System_Counts
0     143998
1       7065
2       2336
3       1892
4       1661
5       1475
6       1416
7       1319
8       1303
9       1239
12      1165
10      1164
11      1151
17      1099
14      1074
13      1074
18      1059
16      1032
15      1027
19      1021
20       919
21       784
22       583
23       362
24       205
25       107
26        39
27        17
Name: count, dtype: int64

### Adverse_System_Counts_Log

In [444]:
df['Adverse_System_Counts_Log'] = np.log1p(df["Adverse_System_Counts"]) 
df['Adverse_System_Counts_Log'].describe()

count    177586.000000
mean          0.368930
std           0.850432
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           3.332205
Name: Adverse_System_Counts_Log, dtype: float64

### Adverse_System_Counts_Sqrt

In [445]:
df['Adverse_System_Counts_Sqrt'] = np.sqrt(df['Adverse_System_Counts'])
display(df['Adverse_System_Counts_Sqrt'].describe())

count    177586.000000
mean          0.504721
std           1.179121
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.196152
Name: Adverse_System_Counts_Sqrt, dtype: float64

## Study Design

Source of Unique Values: 
https://clinicaltrials.gov/policy/protocol-definitions#study-design

Split Study Design into 4 columns --> 
1. Allocation (Randomized-Non Randomized) --> N/A (not applicable): For a single-arm trial --> https://clinicaltrials.gov/policy/protocol-definitions#study-sponsor-collaborators
2. Intervention_model (Single Grup, Crossover etc.)
3. Masking  (Blindness, None, Double etc.)
4. Primary purpose (Treatment, Screening etc.)

### Allocation_Dum

In [446]:
df = df.merge(my_designs[["nct_id", "allocation"]], on = "nct_id", how = "left")
df = df.rename(columns = {"allocation" : "Allocation_Dum"})
display(df["Allocation_Dum"].value_counts(dropna=False))
display(df.shape)

Allocation_Dum
RANDOMIZED        120394
NA                 40258
NON_RANDOMIZED     16531
None                 403
Name: count, dtype: int64

(177586, 64)

In [447]:
# Allocation Fillna
df.loc[(df["Allocation_Dum"].isnull()) & (df["Brief Summary"].str.contains(r"(?i)\snon.randomized\s|open label" , case = False , na = False) ) , "Allocation_Dum"] = "NON_RANDOMIZED"
df.loc[(df["Allocation_Dum"].isnull()) & (df["Brief Summary"].str.contains(r"(?i)\srandomized\s")) & ~(df["Brief Summary"].str.contains(r"(?i)\snon.randomized\s", case = False , na = False)) , "Allocation_Dum"] = "RANDOMIZED"

df["Allocation_Dum"] = df["Allocation_Dum"].replace({"NA" : "NOT_APPLICABLE"})
display(df["Allocation_Dum"].value_counts(dropna=False))
display(df.shape)

Allocation_Dum
RANDOMIZED        120407
NOT_APPLICABLE     40258
NON_RANDOMIZED     16549
None                 372
Name: count, dtype: int64

(177586, 64)

#### NaNs (372) --> Drop

### Intervention_Model_Dum

In [448]:
df = df.merge(my_designs[["nct_id", "intervention_model"]], on = "nct_id", how = "left")
df = df.rename(columns={"intervention_model" : "Intervention_Model_Dum"})
display(df["Intervention_Model_Dum"].value_counts(dropna=False))
display(df.shape)

Intervention_Model_Dum
PARALLEL        107157
SINGLE_GROUP     45310
CROSSOVER        17496
SEQUENTIAL        5076
FACTORIAL         2338
None               209
Name: count, dtype: int64

(177586, 65)

In [449]:
# Fillna Intervention model
# display(df.loc[df["Intervention_Model"].isnull() & df["Brief Summary"].str.contains(r"(?i)PARALLEL|SINGLE GROUP|CROSSOVER|SEQUENTIAL|FACTORIAL"), "Brief Summary"].values[0:2])

df.loc[df["Intervention_Model_Dum"].isnull() & df["Brief Summary"].str.contains(r"PARALLEL", case = False), "Intervention_Model_Dum"] = "PARALLEL"
df.loc[df["Intervention_Model_Dum"].isnull() & df["Brief Summary"].str.contains(r"SINGLE GROUP", case = False), "Intervention_Model_Dum"] = "SINGLE_GROUP"
df.loc[df["Intervention_Model_Dum"].isnull() & df["Brief Summary"].str.contains(r"CROSSOVER", case = False), "Intervention_Model_Dum"] = "CROSSOVER"
df.loc[df["Intervention_Model_Dum"].isnull() & df["Brief Summary"].str.contains(r"SEQUENTIAL", case = False), "Intervention_Model_Dum"] = "SEQUENTIAL"
df.loc[df["Intervention_Model_Dum"].isnull() & df["Brief Summary"].str.contains(r"FACTORIAL", case = False), "Intervention_Model_Dum"] = "FACTORIAL"

display(df["Intervention_Model_Dum"].value_counts(dropna=False))
display(df.shape)

Intervention_Model_Dum
PARALLEL        107159
SINGLE_GROUP     45310
CROSSOVER        17498
SEQUENTIAL        5082
FACTORIAL         2338
None               199
Name: count, dtype: int64

(177586, 65)

#### NaNs (199) --> Drop

### Masking_Dum

In [450]:
df = df.merge(my_designs[["nct_id", "masking"]], on = "nct_id", how = "left")
df = df.rename(columns = {"masking" : "Masking_Dum"})
df['Masking_Dum'] = df['Masking_Dum'].replace('NONE', 'MASK_NONE')
display(df["Masking_Dum"].value_counts(dropna=False))
display(df.shape)

Masking_Dum
MASK_NONE    93879
SINGLE       28519
DOUBLE       24101
QUADRUPLE    17726
TRIPLE       13100
None           261
Name: count, dtype: int64

(177586, 66)

In [451]:
# Fillna Masking 
df.loc[df["Masking_Dum"].isnull() & df["Brief Summary"].str.contains(r"(?i)OPEN.LABEL") , "Masking_Dum"] = "MASK_NONE"
df.loc[df["Masking_Dum"].isnull() & df["Brief Summary"].str.contains(r"(?i)SINGLE.BLIND") , "Masking_Dum"] = "SINGLE"
df.loc[df["Masking_Dum"].isnull() & df["Brief Summary"].str.contains(r"(?i)DOUBLE.BLIND") , "Masking_Dum"] = "DOUBLE"
df.loc[df["Masking_Dum"].isnull() & df["Brief Summary"].str.contains(r"(?i)TRIPLE.BLIND") , "Masking_Dum"] = "TRIPLE"
df.loc[df["Masking_Dum"].isnull() & df["Brief Summary"].str.contains(r"(?i)QUADRUPLE.BLIND") , "Masking_Dum"] = "QUADRUPLE"

display(df["Masking_Dum"].value_counts(dropna = False))
display(df.shape)

Masking_Dum
MASK_NONE    93890
SINGLE       28519
DOUBLE       24105
QUADRUPLE    17726
TRIPLE       13100
None           246
Name: count, dtype: int64

(177586, 66)

#### NaN (246) --> Drop

### Masking_Detail_List

In [452]:
df = df.merge(my_designs[["nct_id", "masking_detail"]], on = "nct_id", how = "left")
df = df.rename(columns = {"masking_detail" : "Masking_Detail_List"})

In [453]:
# Fillna Masking_Detail
df.loc[df["Masking_Detail_List"].apply(lambda x: isinstance(x, list) and len(x) == 0)]["Masking_Dum"].value_counts(dropna=False)  # Masking = 'NONE' --> Masking_Details = ['NONE']
df.loc[(df["Masking_Detail_List"].apply(lambda x: isinstance(x, list) and len(x) == 0)) & (df["Masking_Dum"] == "MASK_NONE"), "Masking_Detail_List"] = "MASK_DET_NONE"
df["Masking_Detail_List"] = df["Masking_Detail_List"].apply(lambda x: ["MASK_DET_NONE"] if x == "MASK_DET_NONE" else x)
df["Masking_Detail_List"] = df["Masking_Detail_List"].apply(lambda x: np.NaN if isinstance(x, list) and len(x) == 0 else x)

display(df["Masking_Detail_List"].value_counts(dropna=False))
display(df.shape)

Masking_Detail_List
[MASK_DET_NONE]                                                  93890
[CARE_PROVIDER, PARTICIPANT, OUTCOMES_ASSESSOR, INVESTIGATOR]    17726
[PARTICIPANT, INVESTIGATOR]                                      13168
[OUTCOMES_ASSESSOR]                                              12450
[PARTICIPANT]                                                    12017
[OUTCOMES_ASSESSOR, PARTICIPANT, INVESTIGATOR]                    5776
[PARTICIPANT, OUTCOMES_ASSESSOR]                                  5618
[CARE_PROVIDER, PARTICIPANT, INVESTIGATOR]                        5238
[INVESTIGATOR]                                                    3378
[OUTCOMES_ASSESSOR, INVESTIGATOR]                                 2609
[CARE_PROVIDER, PARTICIPANT]                                      1866
[CARE_PROVIDER, PARTICIPANT, OUTCOMES_ASSESSOR]                   1591
[CARE_PROVIDER]                                                    639
[CARE_PROVIDER, OUTCOMES_ASSESSOR, INVESTIGATOR]                   495
NaN                                                                452
[CARE_PROVIDER, OUTCOMES_ASSESSOR]                                 439
[CARE_PROVIDER, INVESTIGATOR]                                      234
Name: count, dtype: int64

(177586, 67)

#### NaN (452) --> Drop

### Primary Purpose_Dum

In [454]:
df = df.merge(my_designs[["nct_id", "primary_purpose"]], on = "nct_id", how = "left")
df = df.rename(columns={"primary_purpose" : "Primary_Purpose_Dum"})
df["Primary_Purpose_Dum"] = df["Primary_Purpose_Dum"].replace({"OTHER" : "PRIM_PURP_OTHER"})
display(df["Primary_Purpose_Dum"].value_counts(dropna=False))
display(df.shape)

Primary_Purpose_Dum
TREATMENT                   103582
PREVENTION                   19900
PRIM_PURP_OTHER              13198
SUPPORTIVE_CARE              11431
BASIC_SCIENCE                11308
DIAGNOSTIC                    7819
HEALTH_SERVICES_RESEARCH      5448
None                          2352
SCREENING                     1760
DEVICE_FEASIBILITY             788
Name: count, dtype: int64

(177586, 68)

#### NaN (2k) --> Drop

## Arm_Counts

In [455]:
df = df.merge(my_studies[["nct_id", "number_of_arms"]], on = "nct_id", how = "left")
df = df.rename(columns = {"number_of_arms" : "Arm_Counts"})
display(df['Arm_Counts'].value_counts(dropna = False))
display(df.shape)

Arm_Counts
2.0     98050
1.0     40766
3.0     20491
4.0      9911
5.0      2529
6.0      2254
NaN       910
8.0       682
7.0       635
9.0       348
10.0      269
12.0      174
11.0      127
13.0       80
16.0       77
14.0       74
15.0       50
18.0       43
17.0       21
20.0       15
32.0       13
19.0       12
24.0       11
22.0        9
21.0        7
23.0        6
25.0        4
27.0        4
30.0        3
26.0        3
40.0        1
37.0        1
29.0        1
43.0        1
44.0        1
31.0        1
34.0        1
28.0        1
Name: count, dtype: int64

(177586, 69)

#### NaN (910) --> Drop

In [456]:
# other lines will be dropped in Dummies file

### Arm_Counts_Log

In [457]:
df['Arm_Counts_Log'] = np.log1p(df["Arm_Counts"]) 
df['Arm_Counts_Log'].describe()

count    176676.000000
mean          1.106774
std           0.321118
min           0.693147
25%           1.098612
50%           1.098612
75%           1.098612
max           3.806662
Name: Arm_Counts_Log, dtype: float64

### Arm_Counts_Sqrt

In [458]:
df['Arm_Counts_Sqrt'] = np.sqrt(df["Arm_Counts"]) 
df['Arm_Counts_Log'].describe()

count    176676.000000
mean          1.106774
std           0.321118
min           0.693147
25%           1.098612
50%           1.098612
75%           1.098612
max           3.806662
Name: Arm_Counts_Log, dtype: float64

## Outcomes

### Outcomes_List
- Wont be used for analysis. 
- They are a result of Completion/Termination not a pre-Designed characteristic of a clinical trial.
- Also did not give significant results when used in Vizual.file

In [459]:
df = df.merge(my_outcomes[["nct_id", "outcome_type"]], on = "nct_id", how = "left")
df = df.rename(columns={"outcome_type" : "Outcomes_List"})
display(df["Outcomes_List"].value_counts(dropna=False))
df["Outcomes_List"] = df["Outcomes_List"].apply(lambda x: ['OUTC_NONE'] if (isinstance(x, list) and len(x) == 0) else x)
display(df["Outcomes_List"].value_counts(dropna=False))
display(df.shape)

Outcomes_List
[]                                                     135774
[PRIMARY, SECONDARY]                                    29859
[PRIMARY]                                                7551
[OTHER_PRE_SPECIFIED, PRIMARY, SECONDARY]                3395
[OTHER_PRE_SPECIFIED, PRIMARY]                            464
[POST_HOC, PRIMARY, SECONDARY]                            381
[OTHER_PRE_SPECIFIED, POST_HOC, PRIMARY, SECONDARY]       110
[POST_HOC, PRIMARY]                                        42
[OTHER_PRE_SPECIFIED, POST_HOC, PRIMARY]                   10
Name: count, dtype: int64

Outcomes_List
[OUTC_NONE]                                            135774
[PRIMARY, SECONDARY]                                    29859
[PRIMARY]                                                7551
[OTHER_PRE_SPECIFIED, PRIMARY, SECONDARY]                3395
[OTHER_PRE_SPECIFIED, PRIMARY]                            464
[POST_HOC, PRIMARY, SECONDARY]                            381
[OTHER_PRE_SPECIFIED, POST_HOC, PRIMARY, SECONDARY]       110
[POST_HOC, PRIMARY]                                        42
[OTHER_PRE_SPECIFIED, POST_HOC, PRIMARY]                   10
Name: count, dtype: int64

(177586, 72)

#### NaNs (135k) --> ['OUTC_NONE']

### Outcomes_Counts

In [460]:
df["Outcomes_Counts"] = df["Outcomes_List"].apply(lambda x: len(x) if x != ["OUTC_NONE"] else 0)
display(df["Outcomes_Counts"].value_counts(dropna=False))
display(df.shape)

Outcomes_Counts
0    135774
2     30365
1      7551
3      3786
4       110
Name: count, dtype: int64

(177586, 73)

### Outcomes_Bin

In [461]:
df["Outcomes_Bin"] = "No"
df.loc[df["Outcomes_Counts"] != 0, "Outcomes_Bin"] = "Yes"
display(df["Outcomes_Bin"].value_counts(dropna=False))

Outcomes_Bin
No     135774
Yes     41812
Name: count, dtype: int64

## Locations

In [462]:
df = df.merge(my_locations[["nct_id", "facilities_country"]], on = "nct_id", how = "left")
df = df.rename(columns = {"facilities_country": "Countries_List"})
df['Countries_List'].value_counts(dropna = False)

Countries_List
[United States]                                                                                                                                                                                                  60325
[]                                                                                                                                                                                                                9621
[China]                                                                                                                                                                                                           7874
[France]                                                                                                                                                                                                          7174
[Turkey]                                                                                                                                                                                                          6574
                                                                                                                                                                                                                 ...
[Argentina, Australia, Belgium, Brazil, Canada, Czechia, Denmark, Finland, France, Germany, Israel, Italy, Japan, Netherlands, Russian Federation, Spain, Sweden, Switzerland, United Kingdom, United States]        1
[Australia, Austria, Belgium, Germany, Hungary, Russian Federation, Spain, United Kingdom, United States]                                                                                                            1
[Bulgaria, Canada, Georgia, Germany, Poland, Ukraine, United States]                                                                                                                                                 1
[Australia, Belgium, France, Germany, United States]                                                                                                                                                                 1
[Australia, Canada, Denmark, France, Greece, Netherlands, Puerto Rico, Sweden, Switzerland, Turkey, United States]                                                                                                   1
Name: count, Length: 9784, dtype: int64

### Country_Counts

In [463]:
df = df.merge(my_locations[["nct_id", "Country_Counts"]], on = "nct_id", how = "left")
display(df["Country_Counts"].value_counts(dropna=False))
display(df.shape)

Country_Counts
1     152499
0       9621
2       4750
3       1953
4       1428
5       1083
6        905
7        764
8        644
9        496
10       468
11       388
12       321
13       270
14       249
15       216
16       191
18       159
17       154
19       140
20       104
21        96
22        89
23        73
24        68
26        55
25        55
28        41
27        40
29        38
31        37
30        29
32        24
33        19
34        18
37        15
35        13
42        10
41         9
36         9
38         7
49         7
43         7
40         6
44         5
45         3
48         3
39         2
46         2
51         1
57         1
59         1
Name: count, dtype: int64

(177586, 76)

#### NaNs (9K) --> 0

### Continents_List

In [464]:
Countries = pd.DataFrame(geonamescache.GeonamesCache().get_countries()).transpose().reset_index()
Countries = Countries[["name", "continentcode"]]
Countries = Countries.replace({"NA": "North America", "OC": "Oceania", "EU": "Europe", "AS": "Asia", "AF": "Africa", "SA": "South America"})
geo_dict = dict(zip( Countries['name'], Countries['continentcode']))

In [465]:
df['Continents_List'] = df['Countries_List'].apply(lambda x: [geo_dict.get(item, "None") for item in x] if isinstance(x, list) else ['Cont_None'])
df['Continents_List'] = df['Continents_List'].apply(lambda x: ["Cont_None"] if len(x) == 0 or x == ['None'] else x)
df['Continents_List'] = df['Continents_List'].apply(lambda x: [i for i in x if i != 'None'] if isinstance(x, list) else x)
                                                    
df['Continents_List'] = df['Continents_List'].apply(lambda x: sorted(set(x)))

display(df['Continents_List'].value_counts(dropna = False))
display(df.shape)

Continents_List
[North America]                                    68975
[Europe]                                           42087
[Asia]                                             28352
[Cont_None]                                        15478
[Africa]                                            7231
                                                   ...
[Africa, Asia, Oceania]                                3
[Africa, Asia, Oceania, South America]                 3
[Asia, Oceania, South America]                         2
[Africa, North America, Oceania, South America]        2
[]                                                     1
Name: count, Length: 62, dtype: int64

(177586, 77)

### Continent_Counts

In [466]:
df["Continent_Counts"] = df["Continents_List"].apply(lambda x: len(x) if isinstance(x, list) and x != ['Cont_None'] else 0)
display(df["Continent_Counts"].value_counts(dropna = False))
display(df.shape)

Continent_Counts
1    151522
0     15479
2      5162
3      2581
4      1610
5       914
6       318
Name: count, dtype: int64

(177586, 78)

####  NaNs (9K) --> 0

### City_Counts

In [467]:
df = df.merge(my_locations[[ "nct_id","City_Counts"]], on = "nct_id", how = "left") # Cities already sorted(set(x)) in df_locations --> correct counts
display(df["City_Counts"].value_counts(dropna=False))
display(df.shape)

City_Counts
1      124904
0       11520
2        9011
3        4379
4        3085
        ...
313         1
242         1
306         1
232         1
342         1
Name: count, Length: 398, dtype: int64

(177586, 79)

#### NaNs (11k) --> 0

## Enrollment

### Enrollment_Counts

In [468]:
df = df.rename(columns={"Enrollment": "Enrollment_Counts"})
display(df["Enrollment_Counts"].value_counts(dropna=False)) 
display(df["Enrollment_Counts"].isnull().sum()) 
display(df.shape)

Enrollment_Counts
0.0        8396
60.0       5056
30.0       4996
20.0       4781
40.0       4606
           ...
4485.0        1
2164.0        1
27395.0       1
5219.0        1
2367.0        1
Name: count, Length: 3907, dtype: int64

54

(177586, 79)

#### NaNs (54) --> Drop
- No values could be filled from my_terminations table.

### Enrollment_Log

In [469]:
df['Enrollment_Counts_Log'] = np.log1p(df['Enrollment_Counts'])
df['Enrollment_Counts_Log'].describe()

count    177532.000000
mean          3.892819
std           1.587854
min           0.000000
25%           3.091042
50%           3.931826
75%           4.744932
max          16.817285
Name: Enrollment_Counts_Log, dtype: float64

### Enrollment_Sqrt

In [470]:
df['Enrollment_Counts_Sqrt'] = np.sqrt(df['Enrollment_Counts'])
display(df['Enrollment_Counts_Sqrt'].describe())

count    177532.000000
mean          9.995026
std          24.241114
min           0.000000
25%           4.582576
50%           7.071068
75%          10.677078
max        4485.667397
Name: Enrollment_Counts_Sqrt, dtype: float64

## Phases

- 5 phases and NA: 
1. Early Phase 1 --> formerly listed as Phase 0, 
2. Phase 1, 
3. Phase 2, 
4. Phase 3,  
5. Phase 4. 
6. Not Applicable --> used to describe trials without FDA-defined phases, including trials of devices or behavioral interventions.

### Phases

In [471]:
# Same with db and csv
df["Phases"] = df["Phases"].replace({np.NaN : "NOT_APPLICABLE", "EARLY_PHASE1" : "PHASE0"})  
df["Phases"] = df["Phases"].str.split( "|" )  # No apply sort(list(x)) needed here - No duplicated elements with diff list-elem order

display(df["Phases"].value_counts(dropna=False))  
display(df.shape)

Phases
[NOT_APPLICABLE]    97831
[PHASE1]            21764
[PHASE2]            20896
[PHASE3]            13817
[PHASE4]            13073
[PHASE1, PHASE2]     5411
[PHASE2, PHASE3]     2490
[PHASE0]             2304
Name: count, dtype: int64

(177586, 81)

# 4) Dfs Split

In [472]:
mlb = MultiLabelBinarizer()
dummies = pd.DataFrame(mlb.fit_transform(df['Phases']), columns = mlb.classes_, index = df.index)
df = pd.concat([df, dummies] , axis = 1)
df.head(2)

,nct_id,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,Interventions,Primary Outcome Measures,Secondary Outcome Measures,Other Outcome Measures,Sponsor,Collaborators,Sex_Dum,Age_List,Phases,...,Arm_Counts_Sqrt,Outcomes_List,Outcomes_Counts,Outcomes_Bin,Countries_List,Country_Counts,Continents_List,Continent_Counts,City_Counts,Enrollment_Counts_Log,Enrollment_Counts_Sqrt,NOT_APPLICABLE,PHASE0,PHASE1,PHASE2,PHASE3,PHASE4
0,NCT04385680,Chlorhexidine Vaginal Preparation for Reductio...,https://clinicaltrials.gov/study/NCT04385680,NaN,COMPLETED,The study aims to assess the beneficial value ...,NO,Postpartum Endometritis|Wound Infection|Chlorh...,DRUG: Chlorhexidine Gluconate vaginal solution...,"post-cesarean endometritis, uterine fundal ten...","Significant leukocytosis, increase of WBCs cou...",NaN,Zagazig University,NaN,FEMALE,"[ADULT, OLDER_ADULT]","[PHASE1, PHASE2]",...,1.414214,[OUTC_NONE],0,No,[Saudi Arabia],1,[Asia],1,1,6.734592,28.982753,0,0,1,1,0,0
1,NCT05017480,A Study to Evaluate the Efficacy and Safety of...,https://clinicaltrials.gov/study/NCT05017480,NaN,COMPLETED,This study will evaluate the efficacy and safe...,YES,Moderate-to-severe Atopic Dermatitis,DRUG: CBP-201|DRUG: Placebo,"Investigator Global Assessment (IGA) (0-1), Th...","Eczema Area and Severity Index (EASI)-75, The ...",NaN,"Suzhou Connect Biopharmaceuticals, Ltd.",NaN,ALL,"[CHILD, ADULT, OLDER_ADULT]",[PHASE2],...,1.414214,"[PRIMARY, SECONDARY]",2,Yes,[China],1,[Asia],1,30,5.802118,18.165902,0,0,0,1,0,0

In [473]:
df0 = df[df["PHASE0"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])
df1 = df[df["PHASE1"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])
df2 = df[df["PHASE2"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])
df3 = df[df["PHASE3"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])
df4 = df[df["PHASE4"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])
df5 = df[df["NOT_APPLICABLE"] == 1].reset_index(drop = True).drop(columns = ['NOT_APPLICABLE', 'PHASE0', 'PHASE1','PHASE2', 'PHASE3', 'PHASE4'])

display(df0.shape)
display(df1.shape)
display(df2.shape)
display(df3.shape)
display(df4.shape)
display(df5.shape)

(2304, 81)

(27175, 81)

(28797, 81)

(16307, 81)

(13073, 81)

(97831, 81)

## Count_Categ_Columns

### Function

In [474]:
# dfis
dfis = [df0, df1, df2, df3, df4, df5, df]

In [475]:
# def_describe
def def_describe(col):
    describes = pd.concat([
        df0[col].describe(include = 'all'),
        df1[col].describe(include = 'all'),
        df2[col].describe(include = 'all'),
        df3[col].describe(include = 'all'),
        df4[col].describe(include = 'all'),
        df5[col].describe(include = 'all'),
        df[col].describe(include = 'all')
    ], axis=1)

    describes.columns = ['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df']
    describes.index.name = col
    return describes

In [476]:
# fun_bins
def fun_bins(dfis, col, bin2_val, use_quantile=False):
    bins = []
    labels = []

    for dfi in dfis:
        bin1 = dfi[col].min()
        bin2 = dfi[col].quantile(bin2_val) if use_quantile else bin2_val
        bin3 = dfi[col].max()

        bins.append([bin1, bin2, bin3])
        labels.append([f"{int(bin1)}–{int(bin2)}", f"{int(bin2)+1}–{int(bin3)}"])

    return bins, labels

In [477]:
def fun_bins2(dfis, col, bin1_val, bin2_val):
   
    bins = []
    labels = []

    for dfi in dfis:
        bin1 = bin1_val
        bin2 = bin2_val
        bin3 = dfi[col].max()

        bins.append([bin1, bin2, bin3])
        labels.append([f"{int(bin2_val)}", f"{int(bin2_val)+1}–{int(bin3)}"])

    return bins, labels

### Enrollment_Categ

In [478]:
describes = def_describe('Enrollment_Counts')
display(describes)

col = 'Enrollment_Counts'
col_categ = 'Enrollment_Categ'
bins, labels = fun_bins(dfis, col, bin2_val = 0.5, use_quantile = True)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

display(df0["Enrollment_Categ"].value_counts(dropna = False))

,df0,df1,df2,df3,df4,df5,df
Enrollment_Counts,,,,,,,
count,2304.000000,27167.000000,28791.000000,16299.000000,13070.000000,9.780100e+04,1.775320e+05
mean,49.031250,46.909964,111.011358,568.006626,390.859985,1.065257e+03,6.875288e+02
std,207.342017,107.316392,1093.740620,4944.845306,5927.643855,7.888849e+04,5.859655e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,7.000000,14.000000,15.000000,52.000000,25.000000,2.400000e+01,2.100000e+01
50%,20.000000,28.000000,41.000000,159.000000,60.000000,5.200000e+01,5.000000e+01
75%,43.000000,51.000000,100.000000,419.000000,139.750000,1.120000e+02,1.140000e+02
max,5998.000000,8231.000000,144539.000000,477102.000000,393387.000000,2.012121e+07,2.012121e+07

Enrollment_Categ
0–20       1241
21–5998    1063
Name: count, dtype: int64

### Adverse_Categ

In [479]:
describes = def_describe('Adverse_Counts')
display(describes)

col = 'Adverse_Counts'
col_categ = 'Adverse_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 1, use_quantile = False)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

df0["Adverse_Categ"].value_counts()

,df0,df1,df2,df3,df4,df5,df
Adverse_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,0.980469,9.194922,32.399243,162.888882,28.143884,5.300631,25.291414
std,6.281296,58.667264,123.021921,738.428413,655.397065,158.296170,315.460475
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,19.000000,87.000000,0.000000,0.000000,0.000000
max,130.000000,3385.000000,5288.000000,47910.000000,70245.000000,28085.000000,70245.000000

Adverse_Categ
0–1      2163
2–130     141
Name: count, dtype: int64

### Adverse_System_Categ

In [480]:
describes = def_describe('Adverse_System_Counts')
display(describes)

col = 'Adverse_System_Counts'
col_categ = 'Adverse_System_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 1, use_quantile = False)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

df0["Adverse_System_Categ"].value_counts()

### Adverse_Categ 
# All distribution are == 0 until 0.5 - 0.75 quantile at all dfis --> Adv_bin will be used instead.

,df0,df1,df2,df3,df4,df5,df
Adverse_System_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,0.393229,2.082134,4.487863,5.228491,1.506234,0.314082,1.645062
std,1.869579,5.120196,6.858169,7.414357,3.857524,1.696128,4.543774
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,8.000000,10.000000,1.000000,0.000000,0.000000
max,21.000000,26.000000,27.000000,27.000000,27.000000,27.000000,27.000000

Adverse_System_Categ
0–1     2174
2–21     130
Name: count, dtype: int64

### Arm_Categ
- See thsesis_Vizual --> Many data points in specific values. 1-2 many data points and less in >=3. + Skewed --> Visible change after 2 (=median in all dfs) --> Better categorical.

In [481]:
describes = def_describe('Arm_Counts')
display(describes)

col = 'Arm_Counts'
col_categ = 'Arm_Categ'
bins, labels = fun_bins(dfis, col, bin2_val = 2, use_quantile = False)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

df0['Arm_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
Arm_Counts,,,,,,,
count,2281.000000,26980.000000,28674.000000,16281.000000,13030.000000,97286.000000,176676.000000
mean,1.935116,2.754337,2.336542,2.264849,2.085111,2.064860,2.212536
std,1.409927,2.402645,1.753676,1.167064,0.986773,1.063453,1.439194
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000
50%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000
max,40.000000,44.000000,43.000000,32.000000,32.000000,32.000000,44.000000

Arm_Categ
1–2     1893
3–40     388
NaN       23
Name: count, dtype: int64

### Completion_Gap_Categ

In [482]:
describes = def_describe('Completion_Gap_Counts')
display(describes)

col = 'Completion_Gap_Counts'
col_categ = 'Completion_Gap_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 0.5, use_quantile = True)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

display(df['Completion_Gap_Categ'].value_counts())

,df0,df1,df2,df3,df4,df5,df
Completion_Gap_Counts,,,,,,,
count,2304.0,27175.0,28797.0,16307.0,13073.0,97831.0,177586.0
mean,24.924913,22.270543,31.597354,29.560557,25.428823,22.925443,24.605977
std,20.113227,23.265677,24.07007,22.722842,19.978733,20.217512,21.612307
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,10.0,5.0,13.0,13.0,11.0,8.0,9.0
50%,20.0,14.0,25.0,24.0,21.0,17.0,19.0
75%,35.0,33.0,44.0,40.0,35.0,32.0,35.0
max,128.0,150.0,163.0,160.0,149.0,157.0,163.0

Completion_Gap_Categ
0–19      92253
20–163    85333
Name: count, dtype: int64

### Intervention_Type_Categ

In [483]:
describes = def_describe('Intervention_Type_Counts')
display(describes)

col = 'Intervention_Type_Counts'
col_categ = 'Intervention_Type_Categ'

bins, labels = fun_bins2(dfis, col, bin1_val = 0, bin2_val = 1)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

display(df0['Intervention_Type_Categ'].value_counts())

,df0,df1,df2,df3,df4,df5,df
Intervention_Type_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,1.141493,1.075106,1.106157,1.076470,1.088656,1.041797,1.061931
std,0.398583,0.290277,0.343842,0.280356,0.303268,0.214283,0.261621
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000,5.000000

Intervention_Type_Categ
1      2018
2–4     286
Name: count, dtype: int64

### Intervention_Method_Counts

In [484]:
describes = def_describe('Intervention_Method_Counts')
display(describes)

col = 'Intervention_Method_Counts'
col_categ = 'Intervention_Method_Categ'

bins, labels = fun_bins2(dfis, col, bin1_val = 0, bin2_val = 1)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

display(df0['Intervention_Method_Categ'].value_counts())

,df0,df1,df2,df3,df4,df5,df
Intervention_Method_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,1.309462,1.185244,1.235094,1.207212,1.314618,1.198884,1.211233
std,0.549090,0.440359,0.489237,0.461629,0.548237,0.454619,0.466945
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

Intervention_Method_Categ
1      1689
2–4     615
Name: count, dtype: int64

### City_Categ

In [485]:
describes = def_describe('City_Counts')
display(describes)

col = 'City_Counts'
col_categ = 'City_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 1, use_quantile = False)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

df0['City_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
City_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.00000
mean,1.228299,2.865428,9.132514,27.063592,4.422397,1.581963,5.34345
std,3.785609,6.149534,22.769810,58.389480,18.304551,4.980605,21.85342
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
50%,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.00000
75%,1.000000,2.000000,8.000000,29.000000,1.000000,1.000000,1.00000
max,156.000000,282.000000,666.000000,1087.000000,617.000000,691.000000,1087.00000

City_Categ
0–1      2151
2–156     153
Name: count, dtype: int64

### Country_Categ

In [486]:
describes = def_describe('Country_Counts')
display(describes)

col = 'Country_Counts'
col_categ = 'Country_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 1, use_quantile = False)

df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)

df0['Country_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
Country_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,0.977865,1.263845,1.906067,3.970197,1.253806,0.993693,1.448560
std,0.439017,1.224222,2.862374,6.571646,1.999118,0.653732,2.559324
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000
max,10.000000,33.000000,46.000000,59.000000,42.000000,49.000000,59.000000

Country_Categ
0–1     2277
2–10      27
Name: count, dtype: int64

### Continent_Categ

In [487]:
describes = def_describe('Continent_Counts')
display(describes)

col = 'Continent_Counts'
col_categ = 'Continent_Categ'

bins, labels = fun_bins(dfis, col, bin2_val = 1, use_quantile = False)

for dfi in dfis:
    dfi[col_categ] = pd.cut(dfi[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
  
'''df0[col_categ] = pd.cut(df0[col], bins = bins[0], labels = labels[0], ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins[1], labels = labels[1], ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins[2], labels = labels[2], ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins[3], labels = labels[3], ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins[4], labels = labels[4], ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins[5], labels = labels[5], ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins[6], labels = labels[6], ordered = True, include_lowest = True, right = True)'''

df0['Continent_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
Continent_Counts,,,,,,,
count,2304.000000,27175.000000,28797.000000,16307.000000,13073.000000,97831.000000,177586.000000
mean,0.945747,1.024434,1.172657,1.516956,0.944542,0.923562,1.027711
std,0.260447,0.501773,0.764215,1.304825,0.516763,0.334166,0.618313
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
max,3.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

Continent_Categ
0–1    2291
2–3      13
Name: count, dtype: int64

### Start_Date_Year_Categ

In [488]:
describes = def_describe('Start_Date_Year_Counts')
display(describes)

col = 'Start_Date_Year_Counts'
col_categ = 'Start_Date_Year_Categ'

bins = [2011, 2018, 2024] # Covid oriented dates
labels = ['2011-2018', '2019-2024']

df0[col_categ] = pd.cut(df0[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)

df0['Start_Date_Year_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
Start_Date_Year_Counts,,,,,,,
count,2304.0,27175.0,28797.0,16307.0,13073.0,97831.0,177586.0
mean,2017.223524,2016.596946,2016.132583,2015.898142,2015.945307,2017.454917,2016.906575
std,3.436028,3.636499,3.43266,3.446155,3.402807,3.488602,3.555004
min,2011.0,2011.0,2011.0,2011.0,2011.0,2011.0,2011.0
25%,2014.0,2014.0,2013.0,2013.0,2013.0,2015.0,2014.0
50%,2017.5,2016.0,2016.0,2016.0,2016.0,2018.0,2017.0
75%,2020.0,2020.0,2019.0,2019.0,2019.0,2020.0,2020.0
max,2024.0,2024.0,2024.0,2024.0,2024.0,2024.0,2024.0

Start_Date_Year_Categ
2011-2018    1400
2019-2024     904
Name: count, dtype: int64

### Completion_Date_Year_Categ

In [489]:
describes = def_describe('Completion_Date_Year_Counts')
display(describes)

col = 'Completion_Date_Year_Counts'
col_categ = 'Completion_Date_Year_Categ'

bins = [2011, 2018, 2024] # Covid oriented dates
labels = ['2011-2018', '2019-2024']

df0[col_categ] = pd.cut(df0[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df1[col_categ] = pd.cut(df1[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df2[col_categ] = pd.cut(df2[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df3[col_categ] = pd.cut(df3[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df4[col_categ] = pd.cut(df4[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df5[col_categ] = pd.cut(df5[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)
df[col_categ] = pd.cut(df[col], bins = bins, labels = labels, ordered = True, include_lowest = True, right = True)

df0['Completion_Date_Year_Categ'].value_counts(dropna = False)

,df0,df1,df2,df3,df4,df5,df
Completion_Date_Year_Counts,,,,,,,
count,2304.0,27175.0,28797.0,16307.0,13073.0,97831.0,177586.0
mean,2019.257812,2018.428151,2018.734695,2018.331085,2018.018664,2019.308849,2018.912183
std,3.366256,3.684109,3.464448,3.543508,3.425053,3.232076,3.412088
min,2011.0,2011.0,2011.0,2011.0,2011.0,2011.0,2011.0
25%,2017.0,2015.0,2016.0,2015.0,2015.0,2017.0,2016.0
50%,2020.0,2019.0,2019.0,2018.0,2018.0,2020.0,2019.0
75%,2022.0,2022.0,2022.0,2021.0,2021.0,2022.0,2022.0
max,2024.0,2024.0,2024.0,2024.0,2024.0,2024.0,2024.0

Completion_Date_Year_Categ
2019-2024    1418
2011-2018     886
Name: count, dtype: int64

## Dfis Shape

In [490]:
display(df0.shape)
display(df1.shape)
display(df2.shape)
display(df3.shape)
display(df4.shape)
display(df5.shape)
display(df.shape)

(2304, 93)

(27175, 93)

(28797, 93)

(16307, 93)

(13073, 93)

(97831, 93)

(177586, 99)

# 5) Save Dfs

In [491]:
df.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df.pkl")  # pickle better to save dtypes e.g category, period etc. --> csv does not save dtypes
df0.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df0.pkl")
df1.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df1.pkl")
df2.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df2.pkl")
df3.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df3.pkl")
df4.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df4.pkl")
df5.to_pickle(r"C:\Users\Eugenia\OneDrive\Documents\THESIS\df5.pkl")